.wp-list-table #the-list .highlighted-success > *:first-child{
	border-left: 4px solid #46B450;	
}
.wp-list-table #the-list .highlighted-info > *:first-child{
	border-left: 4px solid #00A0D2;
}
.wp-list-table #the-list .highlighted-warning > *:first-child{
	border-left: 4px solid #FFB900;
}
.wp-list-table #the-list .highlighted-error > *:first-child{
	border-left: 4px solid #DC3232;
}
