.Browser-finfo {
  border-bottom: solid 1px color(gray, 300);
}

.Browser-finfoPreview {
  display: block;
  margin: 10px auto;
  width: 150px;
  height: 150px;
}

.Browser-finfo .Browser-icon--file {
  width: 150px;
  height: 150px;
  font-size: 150px;
  line-height: 1;
}

.Browser-finfoHandlers {
  margin: 5px 0;
  border-bottom: solid 1px color(gray, 300);
  text-align:right;
}

.Browser-finfoHandler {
  display:inline-block;
  padding: 0 5px;
}

.Browser-finfoHandlerLink {
  font-size: 11px;
  color: color(gray, 900);
}

.Browser-finfoHandlerLink:active,
.Browser-finfoHandlerLink:focus,
.Browser-finfoHandlerLink:hover {
  color: color(gray, 700);
}


.Browser-finfoAttrs {
  margin-bottom: 20px;
}

.Browser-finfoAttr {
  font-size: 12px;
  line-height: 1.6;
  border-bottom: dotted 1px color(gray, 300);
}

.Browser-finfoAttrLabel {
  margin: 0;
  display: inline-block;
  width: 40%;
}

.Browser-finfoAction {
  margin-bottom: 15px;
}

.Browser-finfoActionButton {
  text-align: center;
}