.tiFyControl-slider{
	position:relative;
}
.tiFyControl-sliderPreview{
	overflow:hidden;
}
.tiFyControl-sliderPreviewItems::before,
.tiFyControl-sliderPreviewItems::after{
	display:table;
	content:"";
}
.tiFyControl-sliderPreviewItems::after{
	clear:both;
}
.tiFyControl-sliderPreviewItems{
	width:99999em; 
	margin:0; padding:0;
	list-style-type:none;
}
.tiFyControl-sliderPreviewItem{
	position:relative;
	float:left;
	width:1140px;
	overflow:hidden;
}
.tiFyControl-sliderPreviewItemLink{	
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	display:block;
	z-index:1;
}
.tiFyControl-sliderPreviewItemImage{
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
}
.tiFyControl-sliderPreviewItemImage > img{
	object-fit:cover;
}
.tiFyControl-sliderPreviewItemCaption{
	position:absolute;
	right:0; bottom:0; left:0;
	background-color:rgba( 0, 0, 0, 0.2 );
	color:#FFF;
	padding:10px 10px 40px;
}
.tiFyControl-sliderPreviewItemCaptionTitle,
.tiFyControl-sliderPreviewItemCaptionDescription{
	color:#FFF;
}

/* = FLECHE DE NAVIGATION = */
.tiFyControl-sliderArrowNavItem{
	position:absolute;
	top:50%; margin-top:-10px;
	z-index:3;		
}
.tiFyControl-sliderArrowNavItem--prev{
	left:10px;
}
.tiFyControl-sliderArrowNavItem--next{
	right:10px;
}
.tiFyControl-sliderArrowNavItemLink{
    display:block;
	width:20px; height:20px;
	
	text-align:center;
    font-size:12px;
	line-height:15px;
    border-radius:10px;
    border:solid 1px #FFF;
	color:#FFF;
}
.tiFyControl-sliderArrowNavItemLink:hover{
	background-color:#FFF;
	transform:scale(1.2);
	color:#333;
}
.tiFyControl-sliderArrowNavItemLink:focus,
.tiFyControl-sliderArrowNavItemLink:active{
    background-color:transparent;
    color:#FFF; 
}
/** == ONGLETS DE NAVIGATION == **/
.tiFyControl-sliderTabNav{
	position:absolute;
	right:0; bottom:10px; left:0;
	text-align:center;
	z-index:5;
}
.tiFyControl-sliderTabNavItem{
	display:inline-block;	
	margin:0 1px;
}
.tiFyControl-sliderTabNavItemLink{
	display:block;
	width:10px; height:10px;
	border-radius:5px;
	border:solid 1px #FFF;
	font-size:8px;
	line-height:15px;
	color:#FFF;
	text-indent:99999em;
}
.tiFyControl-sliderTabNavItem.active .tiFyControl-sliderTabNavItemLink{
	background-color:#FFF;
	transform:scale(1.2);
}

/** == BARRE DE PROGRESSION == **/
.tiFyControl-sliderProgressbar{
	position:absolute;
	right:0; bottom:0; left:0;
	z-index:3;	
}
.tiFyControl-sliderProgressbar > span{
	position:absolute;
	right:0; bottom:0; left:0;
	height:3px;
	background-color:#FFF;
}
.tiFyControl-sliderProgressbar > span{
	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	-ms-transition: all 1s ease;
  	transition: all 1s ease;
}