[aria-control='media_file'] {
    position: relative;
}

[aria-control='media_file'] [aria-control='infos'] {
    cursor: pointer;
    color: #333;
    padding-left: 20px;
}

[aria-control='media_file'] [aria-control='reset'] {
    position: absolute;
    top: 50%;
    left: 2px;
    margin-top: -9px;
    z-index: 1;
    display: none;
}

[aria-control='media_file'][aria-active='true'] [aria-control='reset'] {
    display: inherit;
}

[aria-control='media_file'] .tiFyField-mediaFileInput.tiFy-Input--media {
    display:block;
}