// Variables
@import "variables";

// Personnalisation
@mixin form_clearfix {
  .FormFields,
  .FormFieldsGroup {
    &::before,
    &::after {
      display: table;
      content: " ";
    }

    &::after {
      clear: both;
    }
  }
}