.FieldToggleSwitch {
    background: #FFF;
    padding: 2px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    display: inline-block;
    vertical-align: middle;
}

.FieldToggleSwitch-wrapper {
    position: relative;
    width: 80px;
    height: 20px;

    &::before,
    &::after {
        display: table;
        content: "";
    }

    &::after {
        clear: both;
    }
}

.FieldToggleSwitch-label {
    position: relative;
    z-index: 2;
    float: left;
    line-height: 1;
    padding: 4px 0;
    margin: 0 !important;
    width: 50%;
    font-size: 11px;
    color: #CCC;
    text-align: center;
    cursor: pointer;

    &:active {
        font-weight: bold;
    }
}

.FieldToggleSwitch-radio[type=radio] {
    display: none;
}

.FieldToggleSwitch-handler {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    display: block;
    width: 50%;
    background: #0074A2;
    border-radius: 1px;
    transition: transform 0.15s ease-out;
    z-index: 1;
}

.FieldToggleSwitch-radio--on:checked + .FieldToggleSwitch-label--on ~ .FieldToggleSwitch-handler {
    transform: translateX(0);
    background: #0074A2;
}

.FieldToggleSwitch-radio--off:checked + .FieldToggleSwitch-label--off ~ .FieldToggleSwitch-handler {
    transform: translateX(100%);
    background: #AAA;
}

.FieldToggleSwitch-radio:checked + .FieldToggleSwitch-label {
    font-weight: bold;
    color: #FFF;
    cursor: default;
}