[data-control="progress.meter"] {
  position: relative;
  min-height: 20px;
}

[data-control="progress.meter.bar"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: auto;
}

[data-control="progress.meter.bar"] > * {
  box-sizing: content-box;
}

[data-control="progress.meter.label"] {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}