@import "../../variables";

$field-select-light-hue: map-get($field-colors, "light") !default;
$field-select-lighter-hue: map-get($field-colors, "lighter") !default;
$field-select-dark-hue: map-get($field-colors, "dark") !default;
$field-select-darker-hue: map-get($field-colors, "darker") !default;
$field-select-regular-hue: map-get($field-colors, "regular") !default;
$field-select-background-hue: map-get($field-colors, "white") !default;

$field-select-selected-background-color: map-get($field-colors, "link") !default;
$field-select-selected-color: map-get($field-colors, "white") !default;
$field-select-highlight-background-color: map-get($field-colors, "hightlight") !default;
$field-select-highlight-border-color: map-get($field-colors, "hightlight-alt") !default;