@import "~wp-admin/css/colors/variables";

$wp: (
    text: $text-color,
    base: $base-color,
    icon: $icon-color,
    highlight: $highlight-color,
    notification: $notification-color,
    body: $body-background,
    regular:$base-color,
    primary: $highlight-color,
    secondary: $notification-color,
    light:$body-background
);

$colors: (
    white: #FFFFFF,
    black: #000000,
    light: map-get($wp, body),
    lighter:#F4F4F4,
    dark:#4B4B4B,
    darker:#2B2B2B,
    regular:map-get($wp, base),
    regular-alt:#5B5B5B,
    primary:map-get($wp, highlight),
    primary-alt:#5B5B5B,
    secondary:map-get($wp, notification),
    secondary-alt:#E9E9E9,
    wp:$wp,
    error:#e74c3c,
    success:#1abc9c,
    warning:#f1c40f,
    infos:#3498db,
) !default;

@function color($color, $type:'') {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if $type != '' {
      @if map-has-key($curr_color, $type) {
        @return map-get($curr_color, $type);
      }
    } @else {
      @return $curr_color;
    }
  }
  @warn "Unknown `#{$color}` - `#{$type}` in $colors.";
  @return null;
}

// GRID
$grid-container-center: false !default;
$grid-container-prefix: 'ThemeContainer' !default;
$grid-container-width: '1024px' !default;
$grid-container-fluid-prefix: 'ThemeContainerFluid' !default;
$grid-row: 'ThemeRow' !default;
$grid-col-prefix: 'ThemeCol' !default;
$grid-no-gutters: 'ThemeNoGutters' !default;
$grid-width: 96% !default;
$grid-gutter: 15px !default;
$grid-columns: 12 !default;
$grid-breakpoint-small: 33.75em !default; // 540px
$grid-breakpoint-med: 45em !default; // 720px
$grid-breakpoint-large: 60em !default; // 960px