// Variables
@import "../../../partial/variables";

// Personnalisation
// Nuancier
$notice-text-hue: partialColor(regular) !default;
$notice-background-hue: partialColor(white) !default;
$notice-error-hue: partialColor(error);
$notice-info-hue: partialColor(info);
$notice-success-hue: partialColor(success);
$notice-warning-hue: partialColor(warning);

// Styles
$notice-border-radius: 0 !default;
$notice-border-radius-tl: $notice-border-radius !default;
$notice-border-radius-tr: $notice-border-radius !default;
$notice-border-radius-br: $notice-border-radius !default;
$notice-border-radius-bl: $notice-border-radius !default;
$notice-border-style: solid !default;
$notice-border-style-top: none !default;
$notice-border-style-right: none !default;
$notice-border-style-bottom: none !default;
$notice-border-style-left: $notice-border-style !default;
$notice-border-width: 3 !default;
$notice-border-width-top: $notice-border-width !default;
$notice-border-width-right: $notice-border-width !default;
$notice-border-width-bottom: $notice-border-width !default;
$notice-border-width-left: $notice-border-width !default;

// Déclinaison
$notice-color: $notice-text-hue;
// Error
$notice-error-color: $notice-color;
$notice-error-background-color: $notice-background-hue !default;
$notice-error-border-color: darken($notice-error-hue, 10%) !default;
// Info
$notice-info-color: $notice-color;
$notice-info-background-color: $notice-background-hue !default;
$notice-info-border-color: darken($notice-info-hue, 10%) !default;
// Success
$notice-success-color: $notice-color;
$notice-success-background-color: $notice-background-hue !default;
$notice-success-border-color: darken($notice-success-hue, 10%) !default;
// Warning
$notice-warning-color: $notice-color;
$notice-warning-background-color: $notice-background-hue !default;
$notice-warning-border-color: darken($notice-warning-hue, 10%) !default;