[aria-control="text_remaining"] {
    position: relative;
}

[aria-control="text_remaining"] [aria-control="input"] {
    display: block;
    padding: 0.4em;
    margin: 0;
    width: 100%;
    box-shadow: none;
    border-color: #E4E4E4;
}

[aria-control="text_remaining"] textarea[aria-control="input"] {
    min-height: 5.6em;
    width: 100%;
    resize: none;
}

[aria-control="text_remaining"] input[aria-control="input"] {
    border: #E4E4E4 solid 1px;
}

[aria-control="text_remaining"] [aria-control="infos"] {
    display: block;
    text-align: right;
    background-color: #F4F4F4;
    border-color: #E4E4E4;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    padding: 0.4em;
    font-size: 0.8em;
}

[aria-control="text_remaining"] [aria-control="infos"][aria-reached="less"] {
    color: #27AE60;
}

[aria-control="text_remaining"] [aria-control="infos"][aria-reached="exact"] {
    color: #2980B9;
}

[aria-control="text_remaining"] [aria-control="infos"][aria-reached="more"] {
    color: #C0392B;
}