.Browser {
  position: relative;
  height: 800px;
  background-color: color(white);
  color: color(gray, 900);
}

// TITRE
.Browser-title {
  font-size:18px;
  color: color(gray, 700);
  padding-bottom:3px;
  border-bottom: dashed 1px color(gray, 700);
}

// SEPARATEUR
.Browser-title {

}

// BOUTONS
.Browser-button {
  display: inline-block;
  border: solid 2px color(gray, 900);
  background-color: color(white);
  color: color(gray, 900);
  font-weight: bold;
  padding: 5px 20px;
}

.Browser-button:hover,
.Browser-button:focus,
.Browser-button:active {
  background-color: color(gray, 900);
  color: color(white);
}

.Browser-button--valid {
  border: none;
  background-color: color(green, 600);
  color: color(white);
}

.Browser-button--valid:hover,
.Browser-button--valid:focus,
.Browser-button--valid:active {
  background-color: color(green, 500);
}

.Browser-button--cancel {
  border: none;
  background-color: color(red, 600);
  color: color(white);
}

.Browser-button--cancel:hover,
.Browser-button--cancel:focus,
.Browser-button--cancel:active {
  background-color: color(red, 500);
}

// ACTIONS
.Browser-action {
  margin-bottom: 15px;
}

.Browser-action--toggleable {
  display: none;
}

.Browser-actionNotices {
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
}

// ACTIONS > FORMULAIRE
.Browser-actionFormFields {
  margin-bottom: 10px;
}

.Browser-actionFormButtons {
  text-align: center;
}

// BARRE LATERALE
.Browser-sidebar {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 300px;
  padding: 10px;
}

// BARRE LATERALE > INFORMATIONS
.Browser-finfo .Browser-finfoPreview {
  display: block;
  margin: 10px auto;
  width: 150px;
  height: 150px;
}

.Browser-finfo .Browser-fileIcon {
  width: 150px;
  height: 150px;
  font-size: 150px;
  line-height: 1;
}

.Browser-finfo .Browser-finfoAttrs {
  margin-bottom: 20px;
}

.Browser-finfo .Browser-finfoAttr {
  font-size: 12px;
  line-height: 1.6;
  border-bottom: dotted 1px color(gray, 300);
}

.Browser-finfo .Browser-finfoAttr label {
  margin: 0;
  display: inline-block;
  width: 40%;
}

.Browser-finfoAction {
  margin-bottom: 15px;
}

.Browser-finfoActionButton {
  text-align: center;
}

// BARRE LATERALE > ACTIONS
.Browser-sidebarAction {
  margin-bottom:15px;
}

.Browser-sidebarActionButton {
  text-align: center;
}

// CONTENU DU REPERTOIRE
.Browser-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 300px;
  padding: 10px;
}

.Browser-content.load::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.Browser-contentLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

.Browser-content.load .Browser-contentLoader {
  display: inherit;
}

// FIL D'ARIANE
.Browser-contentBreadcrumb {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  background-color: color(white);
  border-bottom: solid 1px color(gray, 300);
}

.Browser-contentBreadcrumbPart {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
}

.Browser-contentBreadcrumbPart + .Browser-contentBreadcrumbPart::before {
  padding: 0 1px;
  content: "/\00a0";
  color: color(gray, 500);
}

.Browser-contentBreadcrumbPartLink {
  text-decoration: none;
  color: color(gray, 900);
}

.Browser-contentBreadcrumbPartLink:active,
.Browser-contentBreadcrumbPartLink:focus,
.Browser-contentBreadcrumbPartLink:hover {
  color: color(gray, 600);
}

/**
 * Zone de vue des fichiers du répertoire courant
 */
.Browser-contentView {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 50px;
  left: 0;
  padding: 5px;
  overflow: hidden;
  overflow-y: auto;
}

/**
 * Liste des fichiers
 */
.Browser-contentFileList > * {
  box-sizing: border-box;
}

.Browser-contentFileList::before,
.Browser-contentFileList::after {
  display: table;
  content: "";
}

.Browser-contentFileList::after {
  clear: both;
}

.Browser-contentFileList {
  margin: 0;
  padding: 0;
}

.Browser-contentFile {
  display: block;
  margin: 0;
  padding: 0;
}

.Browser-contentFileLink {
  color: color(gray, 900);
}

.Browser-contentFileLink:active,
.Browser-contentFileLink:focus,
.Browser-contentFileLink:hover {
  color: color(gray, 700);
}

.Browser-contentFileLink {
  position: relative;
  text-decoration: none;
}

.Browser-contentFile.selected .Browser-contentFileLink {
  color: color(gray, 900);
  background-color: color(gray, 300);
}

.Browser-contentFilePreview {
  position: relative;
  overflow: hidden;
}

// VUE GRILLE
.Browser-contentView--grid .Browser-contentFileList {
  margin: 0 -10px;
}

.Browser-contentView--grid .Browser-contentFile {
  float: left;
  padding: 10px;
}

.Browser-contentView--grid .Browser-contentFileLink {
  display: block;
  width: 200px;
  height: 200px;
  border: solid 1px color(gray, 300);
  text-align: center;
}

.Browser-contentView--grid .Browser-contentFile.selected .Browser-contentFileLink {
  border: solid 1px color(gray, 400);
}

.Browser-contentView--grid .Browser-contentFilePreview {
  display: block;
  margin: 10px auto;
  width: 150px;
  height: 150px;
}

.Browser-contentView--grid .Browser-fileIcon {
  width: 150px;
  height: 150px;
  font-size: 150px;
  line-height: 1;
}

.Browser-contentView--grid .Browser-contentFileName {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 5px;
  background-color: color(white);
}