.Table,
.Table * {
  box-sizing: border-box;
}

.Table-tr:before,
.Table-tr:after {
  display: table;
  content: "";
}

.Table-tr:after {
  clear: both;
}

.Table-th,
.Table-td {
  float: left;

  padding: 0.8em 1em;
}

.Table-tr--even {
  background-color: #FFF;
}

.Table-tr--odd {
  background-color: #F4F4F4;
}

.Table-cell1 {
  width: 100%;
}

.Table-cell2 {
  width: 50%;
}

.Table-cell3 {
  width: 33.33333%;
}

.Table-cell4 {
  width: 25%;
}

.Table-cell5 {
  width: 20%;
}

.Table-cell6 {
  width: 16.667%;
}

.Table-cell7 {
  width: 14.286%;
}

.Table-cell8 {
  width: 12.5%;
}

.Table-cell9 {
  width: 11.112%;
}

.Table-cell10 {
  width: 10%;
}

.Table-cellLabel {
  display: none;
}

.Table-headTr {
  border-bottom: solid 1px #CCC;
}

.Table-footTr {
  border-top: solid 1px #CCC;
}

.Table-th {
  background-color: #E4E4E4;
  color: #333;
  font-weight: 600;
}