@use "sass:map";

@import "../../partial/notice/scss/variables";

$form-colors: (
    "transparent": transparent,
    "white": #FFF,
    "black": #000,
    "light": #C4C4C4,
    "lighter": #F4F4F4,
    "dark": #4B4B4B,
    "darker": #2B2B2B,
    "regular": #3B3B3B,
    "highlight": #FFFA90,
    "highlight-alt": #DAD55E,
    "link": DodgerBlue
) !default;

@function formColor($alias) {
  @if type-of($alias) != string {
    $alias: "#{$alias}";
  }

  @return map.get($form-colors, #{$alias});
}

// Définition des variables
/** STRUCTURE */
$form-gutter: 15 !default;

/** COMMUN **/
$form-regular-color: formColor(regular) !default;

/** NOTICES */
$form-notice-border-radius: $notice-border-radius !default;
$form-notice-border-radius-tl: $form-notice-border-radius !default;
$form-notice-border-radius-tr: $form-notice-border-radius !default;
$form-notice-border-radius-br: $form-notice-border-radius !default;
$form-notice-border-radius-bl: $form-notice-border-radius !default;
$form-notice-border-style: $notice-border-style !default;
$form-notice-border-style-top: $notice-border-style-top !default;
$form-notice-border-style-right: $notice-border-style-right !default;
$form-notice-border-style-bottom: $notice-border-style-bottom !default;
$form-notice-border-style-left: $form-notice-border-style !default;
$form-notice-border-width: $notice-border-width !default;
$form-notice-border-width-top: $form-notice-border-width !default;
$form-notice-border-width-right: $form-notice-border-width !default;
$form-notice-border-width-bottom: $form-notice-border-width !default;
$form-notice-border-width-left: $form-notice-border-width !default;
$form-notice-color: $notice-color !default;
// Error
$form-notice-error-color: $notice-error-color !default;
$form-notice-error-background-color: $notice-error-background-color !default;
$form-notice-error-border-color: $notice-error-border-color !default;
// Info
$form-notice-info-color: $notice-info-color !default;
$form-notice-info-background-color: $notice-info-background-color !default;
$form-notice-info-border-color: $notice-info-border-color !default;
// Success
$form-notice-success-color: $notice-success-color !default;
$form-notice-success-background-color: $notice-success-background-color !default;
$form-notice-success-border-color: $notice-success-border-color !default;
// Warning
$form-notice-warning-color: $notice-warning-color !default;
$form-notice-warning-background-color: $notice-warning-background-color !default;
$form-notice-warning-border-color: $notice-warning-border-color !default;

/** CHAMPS */
$form-fields: (
    checkbox,
    checkbox-collection,
    input-email,
    input-text,
    radio,
    radio-collection
) !default;
$form-field-color: $form-regular-color !default;
$form-field-background-color: formColor(lighter) !default;
$form-field-border-color: formColor(light) !default;
$form-field-border-radius: 5 !default;
$form-field-border-radius-tl: $form-field-border-radius !default;
$form-field-border-radius-tr: $form-field-border-radius !default;
$form-field-border-radius-br: $form-field-border-radius !default;
$form-field-border-radius-bl: $form-field-border-radius !default;
$form-field-border-style: solid !default;
$form-field-border-style-top: $form-field-border-style !default;
$form-field-border-style-right: $form-field-border-style !default;
$form-field-border-style-bottom: $form-field-border-style !default;
$form-field-border-style-left: $form-field-border-style !default;
$form-field-border-width: 1 !default;
$form-field-border-width-top: $form-field-border-width !default;
$form-field-border-width-right: $form-field-border-width !default;
$form-field-border-width-bottom: $form-field-border-width !default;
$form-field-border-width-left: $form-field-border-width !default;
$form-field-error-border-width: $form-notice-border-width !default;
$form-field-placeholder-color: formColor(dark) !default;

/** LABELS */
$form-label-color: $form-regular-color !default;
$form-required-color: $form-regular-color !default;


// RADIO
$form-field-radio-color: $form-regular-color !default;
$form-field-radio-checked-color: $form-regular-color !default;
$form-field-radio-background-color: $form-field-background-color !default;

// CHECKBOX
$form-field-checkbox-color: $form-regular-color !default;
$form-field-checkbox-checked-color: $form-regular-color !default;
$form-field-checkbox-background-color: $form-field-background-color !default;