.tiFyPartial-Table,
.tiFyPartial-Table * {
    box-sizing: border-box;
}

.tiFyPartial-TableTr:before,
.tiFyPartial-TableTr:after {
    display: table;
    content: "";
}

.tiFyPartial-TableTr:after {
    clear: both;
}

.tiFyPartial-TableTh,
.tiFyPartial-TableTd {
    float: left;

    padding: 0.8em 1em;
}

.tiFyPartial-TableTr-even{
    background-color: #FFF;
}

.tiFyPartial-TableTr-odd {
    background-color: #F4F4F4;
}

.tiFyPartial-TableCell1 {
    width: 100%;
}

.tiFyPartial-TableCell2 {
    width: 50%;
}

.tiFyPartial-TableCell3 {
    width: 33.33333%;
}

.tiFyPartial-TableCell4 {
    width: 25%;
}

.tiFyPartial-TableCell5 {
    width: 20%;
}

.tiFyPartial-TableCell6 {
    width: 16.667%;
}

.tiFyPartial-TableCell7 {
    width: 14.286%;
}

.tiFyPartial-TableCell8 {
    width: 12.5%;
}

.tiFyPartial-TableCell9 {
    width: 11.112%;
}

.tiFyPartial-TableCell10 {
    width: 10%;
}

.tiFyPartial-TableCell-label {
    display: none;
}

.tiFyPartial-TableHeadTr {
    border-bottom: solid 1px #CCC;
}

.tiFyPartial-TableFootTr {
    border-top: solid 1px #CCC;
}

.tiFyPartial-TableTh {
    background-color: #E4E4E4;
    color: #333;
    font-weight: 600;
}