.Browser-switcher {
  margin:0 -5px;
}

.Browser-switcher::after,
.Browser-switcher::after {
  display: table;
  content: "";
}
.Browser-switcher::after {
  clear:both;
}

.Browser-switch {
  float:left;
  padding:0 5px;
}

.Browser-switchLink {
  color:color(gray, 500);
}

.Browser-switchLink:active,
.Browser-switchLink:focus,
.Browser-switchLink:hover{
  color:color(gray, 900);
}

.Browser-switch.selected  .Browser-switchLink{
  color:color(gray, 900);
}