.tiFyField-SelectImage .tiFyField-SelectJsTrigger {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.tiFyField-SelectImage .tiFyField-SelectJsSelectedItems > li {
    margin:0;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tiFyField-SelectImage .tiFyField-SelectJsSelectedItems > li > img {
    position: absolute;
    top: 50%;
    max-width: 100px;
    max-height: 100px;
    height: auto;
    width: 100%;
    transform: translateY(-50%);
}