// Variables
@import "~presstify-framework/field/variables";

// Dépendances
@import '~jquery-ui/themes/base/core.css';
@import '~jquery-ui/themes/base/theme.css';
@import '~jquery-ui/themes/base/datepicker.css';

// Personnalisation
.FieldDatepicker-wrapper {
  position:relative;
  display: inline-block;
}

.FieldDatepicker-clearer {
  position:absolute;
  top:50%;
  right:5px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  content: " ";
  color:red;
  z-index:1;
  cursor: pointer;
  display: none;
  transition: transform 200ms ease-in-out;

  &::before,
  &::after {
    position:absolute;
    top:50%;
    right:0;
    width: 100%;
    content: " ";
    display: block;
    height:2px;
    margin-top: -1px;
    background-color: currentColor;
  }

  &::before {
    transform: rotate(-45Deg);
  }
  &::after {
    transform: rotate(45Deg);
  }

  &:hover {
    transform: rotate(180Deg);
  }
}

.ui-datepicker {
  z-index: 99999 !important;

  &.ui-widget.ui-widget-content {
    border: solid 1px map-get($field-colors, "light");
    border-radius: 0;
  }

  .ui-widget-header {
    background-color: map-get($field-colors, "transparent");
    border:none;

    .ui-state-hover {
      background-color: map-get($field-colors, "transparent");
      border: none;
    }

    .ui-datepicker-next,
    .ui-datepicker-prev {
      border: solid map-get($field-colors, "regular");
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      width:4px;
      height: 4px;
      top:12px;
    }

    .ui-datepicker-prev {
      transform: rotate(135deg);
      margin-left:7px;
    }

    .ui-datepicker-next {
      transform: rotate(-45deg);
      margin-right:7px;
    }

    .ui-icon {
      display:none;
    }
  }

  td {
    width: 2em;
    height: 2em;

    .ui-state-hover {
      background-color: map-get($field-colors, "light");
    }

    span, a {
      border-radius: 20px;
      text-align: center;
      width: 2em;
      height: 2em;
      padding: 0;
      line-height: 2em;
    }
  }

  .ui-state-default {
    border: none;
    background-color: map-get($field-colors, "transparent");

    &.ui-state-active,
    &.ui-state-active.ui-state-hover {
      color: map-get($field-colors, "white");
    }
  }



  .ui-state-highlight {
    color: map-get($field-colors, "regular");
    font-weight: bold;

    &.ui-state-hover {
      color: map-get($field-colors, "regular");
    }

    &.ui-state-active {
      color: map-get($field-colors, "white");
    }
  }
}

.wp-admin {
  .FieldDatepicker-clearer {
    color: map-get($wp-admin-colors, "highlight");
  }

  .ui-datepicker {
    td {
      .ui-state-hover {
        color: map-get($wp-admin-colors, "base");
      }
    }

    .ui-state-default {
      color: map-get($wp-admin-colors, "base");

      &.ui-state-active,
      &.ui-state-active.ui-state-hover {
        color: map-get($wp-admin-colors, "text");
        background-color: map-get($wp-admin-colors, "highlight");
      }
    }
  }
}