@import "variables";
@import "ease";

// Librairies
@import "~animate-sass/animate";
@import "~hover.css/scss/hover.scss";

.anim-hidden {
  visibility: hidden;

  &.animated {
    visibility: inherit;
  }
}

.anim-infinite {
  animation-iteration-count: infinite;
}

@for $i from $anim-delay-start through $anim-delay-end {
  $time: $i*$anim-delay-pad;
  .anim-delay-#{$time} {
    animation-delay: #{$time}#{$anim-delay-unity};
    transition-delay: #{$time}#{$anim-delay-unity};
  }
}

@for $i from $anim-duration-start through $anim-duration-end {
  $time: $i*$anim-duration-pad;
  .anim-duration-#{$time} {
    animation-duration: #{$time}#{$anim-duration-unity};
    transition-duration: #{$time}#{$anim-duration-unity};
  }
}