/** STYLES DE CONTROLE (recommandé) */
[data-control="accordion"], [data-control="accordion.item"] {
    overflow: hidden;
}

[data-control="accordion.item.content"] {
    position: relative;
}

[data-control="accordion.items"] {
    transition-property: max-height;
}

[data-control="accordion.items"] [data-control="accordion.items"] {
    max-height: 0;
}

/** STYLES GENERAUX */
.Accordion-itemContent {
    &::before,
    &::after {
        display: block;
        content: " ";
    }

    &::after {
        clear: both;
    }
}

.Accordion-itemPad {
    float: left;
    display: block;
    width:10px;
    height:1px;
}

.Accordion-itemContentInner {
    float: left;
    max-width: 90%;
    position: relative;
    margin-right: 40px;
    padding: 10px;
}

.Accordion-itemTrigger {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: " ";
    cursor: pointer;
}

.Accordion-itemTrigger::before,
.Accordion-itemTrigger::after {
    position: absolute;
    top: 50%;
    right: 12px;
    content: " ";
    width: 16px;
    height: 0;
    transform: translateY(-50%);
}

.Accordion-itemTrigger::after {
    transform: translateY(-50%) rotate(90deg);
}

.Accordion-item[aria-open="true"] > .Accordion-itemContent > .Accordion-itemTrigger::after {
    display: none;
}

/** THEMES */
/** Light */
.Accordion--light .Accordion-itemContent {
    background-color: #FFF;
    border-bottom: solid 1px #E4E4E4;
    color: #333;
}

.Accordion--light .Accordion-itemTrigger {
    color: #333;
}

.Accordion--light .Accordion-itemTrigger::before,
.Accordion--light .Accordion-itemTrigger::after {
    border-bottom: solid 1px #333;
}

.Accordion--light .Accordion-item.active > .Accordion-itemContent {
    background-color: #E4E4E4;
}

/**
 * Dark
 */
.Accordion--dark .Accordion-itemContent {
    background-color: #23282D;
    border-bottom: solid 1px #2C333A;
    color: #EEE;
}

.Accordion--dark .Accordion-itemTrigger {
    color: #EEE;
}

.Accordion--dark .Accordion-itemTrigger::before,
.Accordion--dark .Accordion-itemTrigger::after {
    background-color: #EEE;
}

.Accordion--dark .Accordion-item.active > .Accordion-itemContent {
    background-color: #2C333A;
}

/**
 * ANIMATIONS
 */
.Accordion-items {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.42, 0, 1.0, 1.0);
}

.Accordion-itemTrigger:hover {
    opacity: 0.8;
}