.Pagination {
    width: 100%;
    text-align: center;
}

.Pagination-item {
    display: inline-block;
    text-indent: 0;
}

.Pagination-itemPage {
    display: block;
    position: relative;
    padding: 6px 12px;
    text-align: center;
}

.Pagination-itemPage-link {
    text-decoration: none;
}

/** Light */
.tiFyPagination-ItemPage {
    display: block;
    position: relative;
    padding: 6px 12px;
    text-align: center;
    background-color: #CCC;
    border-color: #CCC;
    color: #FFF;
}

.tiFyPagination-ItemPage--link {
    color: #333;
}

.tiFyPagination-Item--active .tiFyPagination-ItemPage {
    background-color: #999;
    border-color: #999;
    color: #FFF;
}

.tiFyPagination-ItemPage--link:hover,
.tiFyPagination-ItemPage--link:focus {
    background-color: #999;
    border-color: #999;
    color: #FFF;
}