.tiFyLayout-breadcrumb {
    margin: 0;
    padding: 0;
}

.tiFyLayout-breadcrumb > li + li::before {
    padding: 0 5px;
    content: "/\00a0";
}

.tiFyLayout-breadcrumb > li {
    display: inline-block;
}