@import '~presstify-framework/theme/scss/styles';

.Modal {
  display:none;
}

.modal-dialog.modal-full {
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.modal-dialog.modal-flex {
  width: auto;
  max-width:none;
  margin-left: auto;
  margin-right: auto;
}

// BOOTSTRAP >= LG
@media (min-width: 1200px) {
  .modal-dialog.modal-xl {
    max-width: 1140px;
    margin: 1.75rem auto;
  }
}

@media (max-width: 1199px) {
  .modal-dialog.modal-xl {
    max-width: none;
    margin: 1.75rem 15px;
  }
}

@media (max-width: 991px) {
  .modal-dialog.modal-full {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .modal-dialog.modal-xl {
    margin: .5em;
  }
}

.modal-close,
.modal-backdrop-close {
  position:absolute;
  top:20px;
  right:20px;
  margin:0;
  padding:0;
  border:none;
  background-color: transparent;
  cursor:pointer;
  outline: none;
  pointer-events: auto;
}

.ThemeButton--close.modal-backdrop-close::after,
.ThemeButton--close.modal-backdrop-close::before {
  background-color: #FFF;
}

.ThemeButton--close.modal-backdrop-close,
.ThemeButton--close.modal-close {
  position:absolute;
  top:15px;
  right:15px;
  outline: none;
  z-index:1;
}

.modal-spinner {
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-12px;
  margin-left:-12px;
}

.modal-spinner[aria-hide="true"] {
  display:none;
}

.modal-spinner[aria-hide="false"] {
  display:inherit;
}

.modal-backdropClose {
  position:fixed;
  top:10px;
  right:10px;
  background-color:transparent;
  border:none;
  font-size:30px;
  font-weight:100;
  outline: none;
}