.tiFyField-SelectJs,
.tiFyField-SelectJs > *,
.tiFyField-SelectJsPicker,
.tiFyField-SelectJsPicker > * {
    box-sizing: border-box;
}

.tiFyField-SelectJs {
    position: relative;
}

.tiFyField-SelectJsHandler {
    display: none;
}

.tiFyField-SelectJsTrigger {
    position: relative;
    min-height: 1.8em;
    cursor: pointer;

    border: 1px solid #E4E4E4;
}

.tiFyField-SelectJsTriggerHandler {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
}

.tiFyField-SelectJsTrigger[aria-arrow="true"] {
    padding-right: 20px;
}

.tiFyField-SelectJs[aria-disabled="true"] .tiFyField-SelectJsTrigger {
    cursor: inherit;
}

.tiFyField-SelectJsTrigger[aria-arrow="true"]::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    content: "";
    width: 19px;

    border-left: 1px solid #E4E4E4;
    background-color: #F4F4F4;
}

.tiFyField-SelectJsTrigger[aria-arrow="true"]::after {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    height: 0;
    margin-top: -2px;
    display: inline-block;
    content: "";

    border-color: #333 transparent;
    border-style: solid;
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 0;
    border-left-width: 4px;
}

.tiFyField-SelectJs[aria-open="true"] .tiFyField-SelectJsTrigger[aria-arrow="true"]::after {
    border-top-width: 0;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.tiFyField-SelectJs[aria-disabled="true"] .tiFyField-SelectJsTrigger {
    background-color: #F4F4F4;
    color: #BBB;
}

.tiFyField-SelectJs[aria-disabled="true"] .tiFyField-SelectJsTrigger[aria-arrow="true"]::before,
.tiFyField-SelectJs[aria-disabled="true"] .tiFyField-SelectJsTrigger[aria-arrow="true"]::after {
    opacity: 0.5;
}

.tiFyField-SelectJs[aria-disabled="true"] .tiFyField-SelectJsTrigger {
    background-color: #F4F4F4;
    color: #BBB;
}

.tiFyField-SelectJsAutocomplete {
    margin: 0;
    border: none;
    width: 100%;
}

.tiFyField-SelectJs[aria-disabled="true"] .tiFyField-SelectJsAutocomplete {
    display: none;
}

.tiFyField-SelectJsSelectedItems::before,
.tiFyField-SelectJsSelectedItems:after {
    display: table;
    content: "";
}

.tiFyField-SelectJsSelectedItems:after {
    clear: both;
}

.tiFyField-SelectJsSelectedItems {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tiFyField-SelectJs[aria-multiple="false"] .tiFyField-SelectJsSelectedItems {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.tiFyField-SelectJs[aria-multiple="false"] .tiFyField-SelectJsTrigger[aria-arrow="true"] .tiFyField-SelectJsSelectedItems {
    right: 20px;
}

.tiFyField-SelectJsSelectedItems > li {
    position: relative;
    cursor: default;
    margin: 2px 0;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0 15px 0 5px;
    line-height: 1.4;
    white-space: nowrap;
    background-color: #FFF;
}

.tiFyField-SelectJs[aria-multiple="true"] .tiFyField-SelectJsSelectedItems > li {
    float: left;
    background-color: #E4E4E4;
    border: 1px solid #BBB;
    border-radius: 2px;
}

.tiFyField-SelectJs[aria-sortable="true"] .tiFyField-SelectJsSelectedItems > li {
    padding-left: 15px;
}

.tiFyField-SelectJs[aria-disabled="true"] .tiFyField-SelectJsSelectedItems > li {
    padding-right: 5px;
    color: #BBB;
    background-color: #F4F4F4;
}

.tiFyField-SelectJs[aria-disabled="true"][aria-multiple="true"] .tiFyField-SelectJsSelectedItems > li {
    border: 1px solid #DDD;
}

.tiFyField-SelectJsSelectedItems > li[aria-highlight="true"] {
    animation: 1s tiFySelectHighlightItem;
}

@-webkit-keyframes tiFySelectHighlightItem {
    25% {
        background-color: #FFFA90;
        border-color: #DAD55E;
    }
}

@keyframes tiFySelectHighlightItem {
    25% {
        background-color: #FFFA90;
        border-color: #DAD55E;
    }
}

.tiFyField-SelectJsSelectedItems > li > [aria-handle="sort"] {
    position: absolute;
    top: 50%;
    left: 4px;

    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);

    color: #999;
    cursor: move;
    display: block;
    font-weight: 700;
    padding: 2px 0;
    margin-right: 2px;
}

.tiFyField-SelectJsSelectedItems > li > [aria-handle="remove"] {
    position: absolute;
    top: 50%;
    right: 2px;
    z-index: 2;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 2px;
}

.tiFyField-SelectJsPicker {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0 4px;
    overflow: hidden;
    z-index: 99998;

    background-color: #FFF;
    border: 1px solid #E4E4E4;
}

.tiFyField-SelectJsPicker[aria-open="true"] {
    display: inherit;
}

.tiFyField-SelectJsPickerItems {
    margin: 0 -4px;
    max-height: 10em;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.tiFyField-SelectJsPicker[aria-complete="false"] .tiFyField-SelectJsPickerItems {
    padding-bottom: 20px;
}

.tiFyField-SelectJsPickerFilter {
    margin: 4px 0;
    width: 100%;
}

.tiFyField-SelectJsPickerItems > li {
    position: relative;
    margin: 0;
    padding: 5px;
    display: block;
    line-height: 1;
    min-height: 1.2em;
    display: block;
    cursor: pointer;

    color: #444;
}

.tiFyField-SelectJsPickerItems > li[aria-selected="true"] {
    background-color: DodgerBlue;
    color: #FFF;
}

.tiFyField-SelectJsPickerItems > li:not([aria-selected="true"])[aria-disabled="true"] {
    color: #AAA;
}

.tiFyField-SelectJsPicker[aria-duplicable="true"] .tiFyField-SelectJsPickerItems > li[aria-selected="true"] {
    background-color: #DDD;
    color: inherit;
}

.tiFyField-SelectJsPickerItems > li:hover,
.tiFyField-SelectJsPicker[aria-duplicable="true"] .tiFyField-SelectJsPickerItems > li[aria-selected="true"]:hover {
    background-color: DodgerBlue;
    color: #FFF;
}

.tiFyField-SelectJsPickerItems > li:not([aria-selected="true"])[aria-disabled="true"]:hover {
    background-color: #FFF;
    color: #AAA;
}

.tiFyField-SelectJsPickerItems > li[aria-disabled="true"]:hover {
    cursor: inherit;
}

.tiFyField-SelectJsPickerMore {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1px 0;
    z-index: 1;

    text-decoration: none;
    color: #2B2B2B;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-top: solid 1px #E4E4E4;
    background: #F4F4F4;
}

.tiFyField-SelectJsPickerMore:hover,
.tiFyField-SelectJsPickerMore:active,
.tiFyField-SelectJsPickerMore:focus {
    color: #444;
}

.tiFyField-SelectJsPickerMore:focus {
    outline: none;
}

.tiFyField-SelectJsPicker[aria-complete="true"] .tiFyField-SelectJsPickerMore {
    display: none;
}

.tiFyField-SelectJsPickerLoader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    padding: 0;
    display: none;
    z-index: 2;

    background: #FFF;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.tiFyField-SelectJsPickerSpinkit {
    margin: 0 auto;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}