@import "../variables";

// Personnalisation
.Form-title {
  margin:1em 0;
  border-bottom: solid 1px #E4E4E4;
  padding-bottom:0.5em;
}

.Form-table {
  border-collapse: collapse;
  margin: .5em 0 1em;
  width: 100%;
  clear: both;

  &,
  td,
  td p,
  th {
    font-size:14px;
  }

  th {
    vertical-align: middle;
    text-align: left;
    padding: 10px 10px 10px 0;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
  }

  td {
    margin-bottom: 9px;
    padding: 10px 0 10px 10px;
    line-height: 1.3;
    vertical-align: middle;
  }
}

.ThemeForm-row {
  margin-bottom: 5px;
}

.ThemeForm-label {
  display:block;
  font-weight:bold;
}

.ThemeForm-label--inline {
  display:inline-block;
}

.ThemeForm-input {
  &[type='text'] {
    width: 100%;
  }
}

/** ex. <div class="ThemeInput--email"><input .../></div> */
div[class*=" ThemeInput--"],
div[class^="ThemeInput--"] {
  & {
    position: relative;
    display: inline-block;
    padding-right: 30px;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    background-color: #F4F4F4;
    border: 1px solid #ddd;
    text-align: center;
    display: block;
    content: "";
  }

  & > input {
    margin: 0;
    width: 100%;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    width: 30px;
    margin-top: -10px;
    line-height: 100%;
    font: normal 20px/1 Dashicons;
    color: #7eb4ea;
    text-align: center;
    display: block;
  }
}

.ThemeInput {
  &--building::after {
    content: "\f512";
  }

  &--editor-quote::after {
    content: "\f205";
  }

  &--email::after {
    content: "\f466";
  }

  &--generic::after {
    content: "\f111";
  }

  &--link::after {
    content: "\f103";
  }

  &--media::after {
    content: "\f104";
  }

  &--phone::after {
    content: "\f525";
  }

  &--search::after {
    content: "\f179";
  }

  &--user::after {
    content: "\f110";
  }
}