.Holder {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.Holder-pad {
  display: block;
  content: '';
}

.Holder-content {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 100%;
  line-height: 100%;
  text-align: center;
  transform: translateY(-50%);
}