.tiFyField-ToggleSwitch {
    background: #FFF;
    padding:2px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    display:inline-block;
    vertical-align:middle;
}
.tiFyField-ToggleSwitchWrapper::before,
.tiFyField-ToggleSwitchWrapper::after {
    display:table;
    content:"";
}
.tiFyField-ToggleSwitchWrapper::after {
    clear:both;
}
.tiFyField-ToggleSwitchWrapper {
    position: relative;
    width: 80px; height:20px;
}
.tiFyField-ToggleSwitchLabel {
    position: relative;
    z-index: 2;
    float: left;
    line-height:1;
    padding:4px 0;
    margin:0 !important;    
    width: 50%;
    font-size: 11px;
    color: #CCC;
    text-align: center;
    cursor: pointer;
}
.tiFyField-ToggleSwitchLabel:active {
    font-weight: bold;
}
tiFyField-ToggleSwitchRadio{
    display: none;
}
.tiFyField-ToggleSwitchHandler {
    position: absolute;
    top:0; right:auto; bottom:0; left:0;
    display: block;     
    width: 50%;
    background: #0074A2;
    border-radius:1px;
    -webkit-transition:     -webkit-transform 0.15s ease-out;
    -moz-transition:        -moz-transform 0.15s ease-out;
    -o-transition:          -o-transform 0.15s ease-out;
    transition:             transform 0.15s ease-out;
    z-index: 1; 
}
.tiFyField-ToggleSwitchRadio--on:checked + .tiFyField-ToggleSwitchLabel--on ~ .tiFyField-ToggleSwitchHandler {
    background: #0074A2;
}
.tiFyField-ToggleSwitchRadio--off:checked + .tiFyField-ToggleSwitchLabel--off ~ .tiFyField-ToggleSwitchHandler {
    -webkit-transform:     translateX(100%);
    -ms-transform:         translateX(100%);
    transform:             translateX(100%);
    background: #AAA;
}
.tiFyField-ToggleSwitchRadio--on:checked + .tiFyField-ToggleSwitchLabel--on,
.tiFyField-ToggleSwitchRadio--off:checked + .tiFyField-ToggleSwitchLabel--off {
    font-weight: bold;
    color: #FFF;
    cursor:default;
}
