@import '~presstify-framework/theme/scss/styles';

.MetaboxFileshare-item {
    position: relative;
    display: block;
    min-height: 65px;
    margin-bottom: 5px;
    border: solid 1px #E4E4E4;
    padding: 5px 20px;
    background-color: #FFF;
}

.MetaboxFileshare-item::after,
.MetaboxFileshare-item::before {
    display:block;
    content:" ";
}

.MetaboxFileshare-item::after {
    clear: both;
}

.MetaboxFileshare-itemIcon {
    position:relative;
    float: left;
    margin-right: 5px;
    width:80px;
    height:80px;
}

.MetaboxFileshare-itemIcon > img {
    position:absolute;
    top:50%;
    left:50%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}

.MetaboxFileshare-itemTitle {
    font-weight: bold;
    display: block;
}

.MetaboxFileshare-itemMime {
    font-style: italic;
    color: #666;
}

.MetaboxFileshare-itemSort {
    position: absolute;
    top: 50%;
    left: 4px;
    z-index: 3;
    color: #999;
    cursor: move;
    display: block;
    font-weight: 700;
    padding: 2px 0;
    margin: 0;
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.MetaboxFileshare-trigger {
    position: relative;
    padding-left: 35px !important;
}

.MetaboxFileshare-trigger::before {
    position: absolute;
    top: 50%;
    left: 10px;
    content: "\f491";
    font-family: "Dashicons";
    font-size: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.MetaboxFileshare-itemPlaceholder {
    background-color: #F9F9F9;
    border: dashed 2px #DDD;
}