body.wp-admin .tiFy-Button--remove {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    display: block;
    border-color: transparent #F4F4F4 transparent transparent;
    border-style: solid;
    border-width: 0 35px 35px 0;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

body.wp-admin .tiFy-Button--remove:hover {
    border-color: transparent #E4E4E4 transparent transparent;
    -webkit-transform: scale(1.05) perspective(1px);
    -moz-transform: scale(1.05) perspective(1px);
    -o-transform: scale(1.05) perspective(1px);
    -ms-transform: scale(1.05) perspective(1px);
    transform: scale(1.05) perspective(1px);
}

body.wp-admin .tiFy-Button--remove::before {
    position: absolute;
    z-index: 15;
    right: -36px;
    top: 1px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    content: "\f335";
    font: normal 20px/1 Dashicons;
    color: #0074A2;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

body.wp-admin .tiFy-Button--remove:hover::before {
    -webkit-transform: rotate(90deg) perspective(1px);
    -moz-transform: rotate(90deg) perspective(1px);
    -o-transform: rotate(90deg) perspective(1px);
    -ms-transform: rotate(90deg) perspective(1px);
    transform: rotate(90deg) perspective(1px);
}

/**
 * Usage :
 * <div class="tiFy-Input--email"><input .../></div>
 */
body.wp-admin div[class*="tiFy-Input--"] {
    position: relative;
    display: inline-block;
    padding-right: 30px;
}

body.wp-admin div[class*="tiFy-Input--"]::before {
    position: absolute;
    top: 1px;
    right: 0px;
    bottom: 1px;
    width: 30px;
    background-color: #F4F4F4;
    border: 1px solid #ddd;
    text-align: center;
    display: block;
    content: "";
}

body.wp-admin div[class*="tiFy-Input--"]::after {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    width: 30px;
    margin-top: -10px;
    line-height: 100%;
    font: normal 20px/1 Dashicons;
    color: #7eb4ea;
    text-align: center;
    display: block;
}

body.wp-admin div[class*="tiFy-Input--"] > input {
    width: 100%;
}

body.wp-admin div.tiFy-Input--building::after {
    content: "\f512";
}

body.wp-admin div.tiFy-Input--email::after {
    content: "\f466";
}

body.wp-admin div.tiFy-Input--generic::after {
    content: "\f111";
}

body.wp-admin div.tiFy-Input--link::after {
    content: "\f103";
}

body.wp-admin div.tiFy-Input--media::after {
    content: "\f104";
}

body.wp-admin div.tiFy-Input--phone::after {
    content: "\f525";
}

body.wp-admin div.tiFy-Input--editor-quote::after {
    content: "\f205";
}

body.wp-admin div.tiFy-Input--search::after {
    content: "\f179";
}

body.wp-admin div.tiFy-Input--user::after {
    content: "\f110";
}