body.wp-admin .tiFy-Button--remove {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    display: block;
    border-color: transparent #F4F4F4 transparent transparent;
    border-style: solid;
    border-width: 0 35px 35px 0;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

body.wp-admin .tiFy-Button--remove:hover {
    border-color: transparent #E4E4E4 transparent transparent;
    -webkit-transform: scale(1.05) perspective(1px);
    -moz-transform: scale(1.05) perspective(1px);
    -o-transform: scale(1.05) perspective(1px);
    -ms-transform: scale(1.05) perspective(1px);
    transform: scale(1.05) perspective(1px);
}

body.wp-admin .tiFy-Button--remove::before {
    position: absolute;
    z-index: 15;
    right: -36px;
    top: 1px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    content: "\f335";
    font: normal 20px/1 Dashicons;
    color: #0074A2;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

body.wp-admin .tiFy-Button--remove:hover::before {
    -webkit-transform: rotate(90deg) perspective(1px);
    -moz-transform: rotate(90deg) perspective(1px);
    -o-transform: rotate(90deg) perspective(1px);
    -ms-transform: rotate(90deg) perspective(1px);
    transform: rotate(90deg) perspective(1px);
}