.tiFyControlAccordionMenu {
    overflow:hidden;
}
.tiFyControlAccordionMenu-item {
    position:relative;
    overflow:hidden;
}
.tiFyControlAccordionMenu-itemPad {
    display: inline-block;
    content: "";
    width: 0.5em;
    height: 1px;
}
.tiFyControlAccordionMenu-itemLink {
    position:relative;
    display:block;
    padding:10px 40px 10px 10px;
}
.tiFyControlAccordionMenu-itemHandler {
    position:absolute;
    top:0; right:0; bottom:0;
    width:40px;
    display:block;
    content:"";
    z-index:1;
}
.tiFyControlAccordionMenu-itemHandler::before {
    position:absolute;
    top:50%; right:10px;
    margin-top:-10px;
    display:block;
    content: "\f345";
    font-family:"Dashicons";
    line-height:1;
    font-size:20px;
}
.tiFyControlAccordionMenu-item.active > .tiFyControlAccordionMenu-itemLink > .tiFyControlAccordionMenu-itemHandler::before {
    content: "\f347";
}

/**
 * THEMES
 */
/**
 * Light
 */
.tiFyControlAccordionMenu--light .tiFyControlAccordionMenu-itemLink {
    background-color:#FFF;
    border-bottom:solid 1px #E4E4E4;
    color:#000;
}
.tiFyControlAccordionMenu--light .tiFyControlAccordionMenu-itemHandler {
    color:#000;
    border-left:solid 1px #E4E4E4;
}
.tiFyControlAccordionMenu--light .tiFyControlAccordionMenu-itemHandler:hover {
    background-color:#D9D9D9;
}
.tiFyControlAccordionMenu--light .tiFyControlAccordionMenu-itemLink:hover {
    background-color:#E4E4E4;
}
.tiFyControlAccordionMenu--light .tiFyControlAccordionMenu-item--current > .tiFyControlAccordionMenu-itemLink{
    background-color:#E4E4E4;
}
/**
 * Dark
 */
.tiFyControlAccordionMenu--dark .tiFyControlAccordionMenu-itemLink {
    background-color:#23282D;
    border-bottom:solid 1px #2C333A;
    color:#EEE;
}
.tiFyControlAccordionMenu--dark .tiFyControlAccordionMenu-itemHandler {
    color:#EEE;
    border-left:solid 1px #2C333A;
}
.tiFyControlAccordionMenu--dark .tiFyControlAccordionMenu-itemHandler:hover {
    background-color:#21262B;
}
.tiFyControlAccordionMenu--dark .tiFyControlAccordionMenu-itemLink:hover {
    background-color:#2C333A;
}
.tiFyControlAccordionMenu--dark .tiFyControlAccordionMenu-item--current > .tiFyControlAccordionMenu-itemLink{
    background-color:#2C333A;
}

/**
 * ANIMATIONS
 */
.tiFyControlAccordionMenu-itemLink,
.tiFyControlAccordionMenu-itemHandler {
    -moz-transition:    background-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0);
    -ms-transition:     background-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0);
    -o-transition:      background-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0);
    -webkit-transition: background-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0);
    transition:         background-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0);
}
.tiFyControlAccordionMenu ul > li > ul {
    -moz-transition:        max-height 400ms cubic-bezier(0.42, 0, 1.0, 1.0);
    -ms-transition:         max-height 400ms cubic-bezier(0.42, 0, 1.0, 1.0);
    -o-transition:          max-height 400ms cubic-bezier(0.42, 0, 1.0, 1.0);
    -webkit-transition:     max-height 400ms cubic-bezier(0.42, 0, 1.0, 1.0);
    transition:             max-height 400ms cubic-bezier(0.42, 0, 1.0, 1.0); 
    
    max-height:0; 
}