.tiFyPdfViewer {
	text-align: center;
	margin-bottom: 50px;
}
.tiFyPdfViewer-inner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding-top: 90px;
}
.tiFyPdfViewer::before,
.tiFyPdfViewer::after {
	display: table;
	content: " ";
}
.tiFyPdfViewer::after {
	clear: both;
}
.tiFyPdfViewer-nav,
.tiFyPdfViewer-download {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	top: 0;
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	font: 16px/1 Open Sans, sans-serif;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	background-color: #BDC3C7;
	color: #FFF;
	border: 1px solid #BDC3C7;
	outline: none;
	padding: 0 1.5em;
	height: 40px;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	z-index: 1;
}
.tiFyPdfViewer-nav--prev {
	left: 0;
	padding-left: 2.2em;
}
.tiFyPdfViewer-nav--next {
	right: 0;
	padding-right: 2.2em;
}
.tiFyPdfViewer-download {
	left: 50%;
	padding-right: 2.4em;
	-webkit-transform: perspective(1px) translateZ(0) translateX(-50%);
  	transform: perspective(1px) translateZ(0) translateX(-50%);
}
.tiFyPdfViewer-nav::before,
.tiFyPdfViewer-download::before {
	position: absolute;
	padding: 0 1px;
	font: 16px/1 dashicons;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.tiFyPdfViewer-nav--prev::before {
	content: "\f341";
	left: 1em;
}
.tiFyPdfViewer-nav--next::before{
	content: "\f345";
	right: 1em;
}
.tiFyPdfViewer-download::before {
	content: "\f316";
	right: 1em;
}
.tiFyPdfViewer-nav--prev:hover::before, 
.tiFyPdfViewer-nav--prev:focus::before, 
.tiFyPdfViewer-nav--prev:active::before {
	-webkit-transform: translateX(-4px);
	transform: translateX(-4px);
}
.tiFyPdfViewer-nav--next:hover::before, 
.tiFyPdfViewer-nav--next:focus::before, 
.tiFyPdfViewer-nav--next:active::before {
	-webkit-transform: translateX(4px);
	transform: translateX(4px);
}
.tiFyPdfViewer-download:hover:before, 
.tiFyPdfViewer-download:focus:before, 
.tiFyPdfViewer-download:active:before {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}
.tiFyPdfViewer-page {
	position: absolute;
	display: block;
	top: 60px;
	right: 0;
	left: 0;
	font: 16px/1 Open Sans, sans-serif;
	text-align: center;
	color: #6C7A89;
}
.tiFyPdfViewer-pageCount::before {
	display: inline-block;
	vertical-align: top;
	content: "\002F";
	margin: 0 5px;
}
.tiFyPdfViewer-canvas {
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	height: auto;
	border: 2px solid #DADFE1;
}
@media (max-width: 480px) {
	.tiFyPdfViewer-nav,
	.tiFyPdfViewer-download {
		font-size: 0;
		width: 40px;
		height: 40px;
		padding: 0;
	}
	.tiFyPdfViewer-nav::before,
	.tiFyPdfViewer-download::before {
		top: 50%;
		margin-top: -8px;
	}
	.tiFyPdfViewer-nav--prev::before {
		left: 50%;
		margin-left: -9px;
	}
	.tiFyPdfViewer-nav--next::before,
	.tiFyPdfViewer-download::before{
		right: 50%;
		margin-right: -9px;
	}
}