.TableResponsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  .wp-list-table {
    width: 100%;
    table-layout: auto;
  }
}

.wp-list-table {
  dl {
    margin: 0;

    dt {
      font-weight: bold;
    }

    dd {
      position: relative;
      margin: 0 0 3px;
      padding: 0;

      &::before,
      &::after {
        display:block;
        content: " ";
      }

      &::after {
        clear: both;
      }

      > * {
        float: left;
        display: block;
      }

      label {
        font-style: italic;
        vertical-align: top;
        width: 150px;
        margin-right:5px;
      }
    }
  }

  ul {
    margin: 0;

    li {
      margin: 0 0 3px;
      padding: 0;

      label {
        font-style: italic;
        display: inline-block;
        vertical-align: top;
        width: 150px;
        margin-right:5px;
      }
    }
  }
}