#tiFyLightbox{
    cursor: pointer;
    position: fixed;
    z-index: 10000;
    
    -ms-touch-action: none;
    touch-action: none;
}    
/* = SPINNER = */
#tiFyLightbox-Loading, 
#tiFyLightbox-Loading div{
    border-radius: 50%;
}
#tiFyLightbox-Loading {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
    height: 2.5em;
    left: 50%;
    margin: -1.25em 0 0 -1.25em;
    padding: 0.625em;
    position: fixed;
    top: 50%;
    width: 2.5em;
    z-index: 10003;
}
#tiFyLightbox-Loading div {
    animation: 0.5s ease 0s normal none infinite running tiFyLightbox-Loading;
    background-color: #fff;
    height: 1.25em;
    width: 1.25em;
}
@keyframes tiFyLightbox-Loading {
	0% {
	    opacity: 0.5;
	    transform: scale(0.75);
	}
	50% {
	    opacity: 1;
	    transform: scale(1);
	}
	100% {
	    opacity: 0.5;
	    transform: scale(0.75);
	}
}
/* = OVERLAY = */
#tiFyLightbox-Overlay {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
}
/* = CLOSE BUTTON = */
#tiFyLightbox-Close {    
    position: fixed;
    right: 2vw;
    top: 2vw;
    width: 1.5vw; height: 1.5vw;
    background-color:transparent;
    border:none;
    z-index: 10002;
    outline: none;
}
#tiFyLightbox-Close:hover, 
#tiFyLightbox-Close:focus {

}
#tiFyLightbox-Close::before, 
#tiFyLightbox-Close::after {
	position:absolute;
	content:"";
	top:0; bottom:0;
	display:block;
	width:2px;
	background-color:#333;
}
#tiFyLightbox-Close::before {
    transform: rotate(45deg);
}
#tiFyLightbox-Close::after {
    transform: rotate(-45deg);
}
/* = CAPTION = */
#tiFyLightbox-Caption {
    bottom: 0;
    color: #333;
    left: 0;
    padding: 0.625em;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 10001;
}
/* = NAVIGATION = */
.tiFyLightbox-Arrow {
	position: fixed;
	top:50%;
    display: none;
    width:3vw; height:3vw;
    margin-top: -1.5vw;
    
    background-color:transparent;
    border:none;
    z-index: 10001;
    outline: none;
}
.tiFyLightbox-Arrow--left {
    left: 2vw;
}
.tiFyLightbox-Arrow--right {
    right: 2vw;
}
.tiFyLightbox-Arrow::before,
.tiFyLightbox-Arrow::after{
 	position:absolute;
	content:"";	
	height:60%;
	display:block;
	width:2px;
	background-color:#333;
}
.tiFyLightbox-Arrow::before{
	top:0;
}
.tiFyLightbox-Arrow::after{
	bottom:0;
}
.tiFyLightbox-Arrow--left::before{
	right:50%;
    transform: rotate(45deg);
}
.tiFyLightbox-Arrow--left::after{
	right:50%;
    transform: rotate(-45deg);
}
.tiFyLightbox-Arrow--right::before{
   	left:50%;
    transform: rotate(-45deg);
}
.tiFyLightbox-Arrow--right::after{
  	left:50%;
    transform: rotate(45deg);
}
/* = TAB = */
#tiFyLightbox-Nav {
	position: fixed;
	border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    bottom:10%; left: 50%;
    line-height:1;
    padding:0 0.5em;
    transform: translateX(-50%);    
    z-index: 10001;
}
#tiFyLightbox-Nav button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 1em; width:1em;
    margin: 0.5em 0.313em;
    padding:0;
    outline: none;
}
#tiFyLightbox-Nav button.active {
    background-color: #fff;
}

#tiFyLightbox-Loading, 
#tiFyLightbox-Overlay, 
#tiFyLightbox-Close, 
#tiFyLightbox-Caption, 
#tiFyLightbox-Nav, 
.tiFyLightbox-Arrow {
    animation: 0.25s linear 0s normal none 1 running tiFyLightbox-FadeIn;
}
@keyframes tiFyLightbox-FadeIn {
	0% {
	    opacity: 0;
	}
	100% {
	    opacity: 1;
	}
}
@media only screen and (max-width: 41.25em) {
	#tiFyLightbox-Close {
	    width: 3vw; height: 3vw;
	}
	#tiFyLightbox-Nav {
	    bottom: 1.25em;
	}
	.tiFyLightbox-Arrow {
	    width:5vw; height:5vw;
   		margin-top: -2.5vw;
	}
}
@media only screen and (max-width: 20em) {
	.tiFyLightbox-Arrow--left {
	    left: 0;
	}
	.tiFyLightbox-Arrow--right {
	    right: 0;
	}
}
