.tiFyCoreFields-SpinnerContainer {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

.tiFyCoreFields-SpinnerContainer .ui-icon {
    font-size: 0;
    width: 15px;
    height: 15px;
    vertical-align: baseline;
}

.tiFyCoreFields-SpinnerContainer .ui-icon::before {
    font-size: 15px;
    color: #3498DB;
}

.tiFyCoreFields-SpinnerContainer .ui-spinner-button {
    position: absolute;
    right: 0;
    display: inline-block;
    vertical-align: baseline;
    line-height: 0;
}

.tiFyCoreFields-SpinnerContainer .ui-button-text {
    display: inline-block;
    line-height: 0;
}

.tiFyCoreFields-SpinnerContainer .ui-spinner-up {
    top: 0;
}

.tiFyCoreFields-SpinnerContainer .ui-spinner-down {
    bottom: 0;
}

.tiFyCoreFields-Spinner {
    font-size: 14px;
    width: 50px;
    height: 30px;
    color: #7F8C8D;
    text-align: center;
    line-height: 1;
    padding: 0.5em;
    border: 1px solid #7F8C8D;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}