.tiFyPartial-Pagination {
    width: 100%;
    text-align: center;
}

.Pagination-item {
    display: inline-block;
    text-indent: 0;
}

.Pagination-itemPage {
    display: block;
    position: relative;
    padding: 6px 12px;
    text-align: center;
}

.Pagination-itemPage-link {
    text-decoration: none;
}

.Pagination-itemPage {
    padding: 6px 12px;
    text-align: center;
    background-color: #CCC;
    border-color: #CCC;
    color: #FFF;
}

.Pagination-itemPage--link {
    color: #333;
}

.Pagination-item[aria-current="true"] .Pagination-itemPage--link{
    background-color: #999;
    border-color: #999;
    color: #FFF;
}

.Pagination-itemPage--link:hover,
.Pagination-itemPage--link:focus {
    background-color: #999;
    border-color: #999;
    color: #FFF;
}