@import "../variables";

// Personnalisation
.ThemeCards {
  list-style-type: none;
  margin: 0 -10px;
  overflow: hidden;
  box-sizing: border-box;
}

.ThemeCards.ui-sortable .ThemeCard {
  cursor: move;
}

.ThemeCard {
  & {
    float: left;
    margin: 0 0 10px;
    padding: 0 10px;
  }

  & .CardContainer {
    position: relative;
    padding: 10px 10px 25px;
    border: solid 1px #E4E4E4;
    background-color: #F4F4F4;
    text-align: center;
    min-height: 150px;
  }

  & .CardImg {
    display: inline-block;
    margin-bottom: 5px;
    border: solid 1px #DDD;
    height: 150px;
    width: 150px;
  }

  & .CardTitle {
    margin: 5px 0;
    height: 2.4em;
    overflow: hidden;
    line-height: 1.2;
    text-overflow: ellipsis;
  }

  & .CardOrder {
    position: absolute;
    bottom: -2px;
    right: -2px;
    font-size: 0.8em;
    text-align: center;
    padding: 0.1em;
  }
}

.ThemeFeed-items {
  margin-bottom: 10px;
}

.ThemeFeed-item {
  position: relative;
  display: block;
  margin-bottom: 5px;
  border: solid 1px #E4E4E4;
  padding: 10px 25px 10px 20px;
  background-color: #FFF;
}

.ThemeFeed-item::after,
.ThemeFeed-item::before {
  display: block;
  content: " ";
}

.ThemeFeed-item::after {
  clear: both;
}

.ThemeFeed-itemRemove {
  & {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
  }

  &:hover {
    transform: rotate(90deg);
  }

  &::before {
    display: block;
    content: "\1f7aa";
    color: #0074A2;
  }
}

.ThemeFeed-itemSortHandle {
  position: absolute;
  top: 50%;
  left: 4px;
  color: #999;
  cursor: move;
  display: block;
  font-weight: 700;
  padding: 2px 0;
  margin: 0;
  transform: translateY(-50%) rotate(90deg);
}

.ThemeFeed-itemSortHandle::before {
  content: "...";
}

.ThemeFeed-itemOrder[type="text"] {
  position: absolute;
  bottom: -1px;
  right: -1px;
  box-shadow: none;
  width: 20px;
  padding: 0;
  text-align: center;
  font-size: 10px;
  min-height: 20px;
  border-radius: 0;
}

.ThemeFeed-itemSortUp,
.ThemeFeed-itemSortDown {
  position: absolute;
  top: 50%;
  right: 4px;
  text-decoration: none;
  transform: translateY(-50%);
}

.ThemeFeed-itemSortUp {
  margin-top: -8px;
}

.ThemeFeed-itemSortUp::before {
  content: "\25b2";
}

.ThemeFeed-itemSortDown {
  margin-top: 8px;
}

.ThemeFeed-itemSortDown::before {
  content: "\25bc";
}