[data-tify_control='media_file']{
	position:relative;	
}
[data-tify_control='media_file'] .tify_input_media{
	cursor:pointer;
}
[data-tify_control='media_file'].active .tify_input_media > input[type="text"]{
	color:#333;
	padding-left:30px;
}
[data-tify_control='media_file'] .tify_control_media_file-reset{
	position:absolute;
	top:50%; left:5px;
	margin-top:-9px;
	z-index:1;
	display:none;
}
[data-tify_control='media_file'].active .tify_control_media_file-reset{
	display:inherit;
}