.tiFyCoreFields-touchtime {

}

.tiFyCoreFields-touchtime * {
    vertical-align: middle;
}

input.tiFyCoreFields-touchtimeField,
select.tiFyCoreFields-touchtimeField {
    width: 3.6em;
    line-height: 100%;
    height: 2em;
    margin: 0;
    font-size: 14px;
    box-shadow: none;
}

input.tiFyCoreFields-touchtimeField--year,
select.tiFyCoreFields-touchtimeField--month {
    width: 5em;
}

.tiFyCoreFields-touchtime.invalid .tiFyCoreFields-touchtimeField {
    border-color: red;
}