@import "../variables";

// Personnalisation
.FieldDatepicker-clearer {
  color: tify_theme_color("wp-admin", "highlight");
}

.ui-datepicker {
  z-index: 99999 !important;

  &.ui-widget.ui-widget-content {
    border: solid 1px tify_theme_color("light");
    border-radius: 0;
  }

  .ui-widget-header {
    background-color: transparent;
    border:none;

    .ui-state-hover {
      background-color: transparent;
      border: none;
    }

    .ui-datepicker-next,
    .ui-datepicker-prev {
      border: solid tify_theme_color("primary");
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      width:4px;
      height: 4px;
      top:7px;
    }

    .ui-datepicker-prev {
      transform: rotate(135deg);
      margin-left:7px;
    }

    .ui-datepicker-next {
      transform: rotate(-45deg);
      margin-right:7px;
    }

    .ui-icon {
      display:none;
    }
  }

  td {
    width: 2em;
    height: 2em;

    .ui-state-hover {
      background-color: tify_theme_color("light");
      color: tify_theme_color("wp-admin", "base");
    }

    span, a {
      border-radius: 20px;
      text-align: center;
      width: 2em;
      height: 2em;
      padding: 0;
      line-height: 2em;
    }
  }

  .ui-state-default {
    border: none;
    background-color: transparent;
    color:tify_theme_color("wp-admin", "base");
  }

  .ui-state-active,
  .ui-state-active.ui-state-hover {
    background-color: tify_theme_color("primary");
    color:tify_theme_color("white");
  }

  .ui-state-highlight {
    color:tify_theme_color("primary");
    font-weight: bold;

    &.ui-state-hover {
      color:tify_theme_color("primary");
    }

    &.ui-state-active {
      color:tify_theme_color("white");
    }
  }
}