/* = GLOBAL = */
.links-taboox, 
.links-taboox *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
.links-taboox > ul{
	margin-left:-5px; margin-right:-5px,
}
.links-taboox > ul > li{
	display:inline-block;
	padding:0 10px; margin:5px;
}
[data-tify_control='dynamic_inputs'] > ul > li:before,
[data-tify_control='dynamic_inputs'] > ul > li:after,
.tify_taboox_misclinks:before,
.tify_taboox_misclinks:after{
	display:table;
	content:" ";
}
[data-tify_control='dynamic_inputs'] > ul > li:after,
.tify_taboox_misclinks:after{
	clear:both;
}
.tify_taboox_misclinks{
	min-height:190px;
}
.tify_taboox_misclinks .wrapper{	
	float:left;
	padding:20px 35px 20px 0;
}
.tify_taboox_misclinks .link-url,
.tify_taboox_misclinks .link-title,
.tify_taboox_misclinks .link-caption{
	width:100%;
	margin-bottom:10px;
}
.tify_taboox_misclinks .link-url > label,
.tify_taboox_misclinks .link-title > label,
.tify_taboox_misclinks .link-caption > label{
	display:block;
	font-weight:700;
	color:#23282D;
	margin-bottom:5px;
}
/* = IMAGE = */
.tify_taboox_misclinks .tify_control_media_image{
	float:left;
	margin:20px;
	width:150px;
	height:150px;
}
/* = URL = */
.tify_taboox_misclinks .link-url > input{
	margin-right:0;
}
.tify_taboox_misclinks .link-url.tify_input_link:before{
  	top: auto;
  	right:1px;
  	bottom:10px;
  	font-size:17px;
}
