body.tiFyPartial-SidebarBody {
    overflow-x: hidden;
}

body.tiFyPartial-SidebarBody.admin-bar .tiFyPartial-Sidebar {
    top: 32px;
    height: calc(100% - 32px);
}

.tiFyPartial-Sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    content: "";
}

.tiFyPartial-Sidebar--left {
    left: 0;
}

.tiFyPartial-Sidebar--right {
    right: 0;
}

.tiFyPartial-SidebarToggleButton {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    display: block;
    padding: 7px 4px;
}

.tiFyPartial-SidebarToggleButton--left {
    right: 0;
    transform: translateX(100%);
}

.tiFyPartial-SidebarToggleButton--right {
    left: 0;
    transform: translateX(-100%);
}

.tiFyPartial-SidebarToggleButton > div {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

.tiFyPartial-SidebarToggleButton > div > svg {
    position: absolute;
    top: 0;
    left: 0;
}

.tiFyPartial-SidebarPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.tiFyPartial-SidebarItemsWrapper {
    position: relative;
    width: 100%;
    height: 100%;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.tiFyPartial-SidebarItemsWrapper::-webkit-scrollbar {
    display: none;
}

.tiFyPartial-SidebarItemsContainer {
    height: 100%;
}

.tiFyPartial-SidebarItems {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/** Sidebar positionnée à gauche */
body.tiFyPartial-SidebarBody--leftClosed .tiFyPartial-Sidebar--left {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

body.tiFyPartial-SidebarBody--leftOpened .tiFyPartial-Sidebar--left {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

/** Sidebar positionnée à droite */
body.tiFyPartial-SidebarBody--rightClosed .tiFyPartial-Sidebar--right {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

body.tiFyPartial-SidebarBody--rightOpened .tiFyPartial-Sidebar--right {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

/**
 * RESPONSIVE
 */
@media (max-width: 782px) {
    body.tiFyPartial-SidebarBody.admin-bar .tiFyPartial-Sidebar {
        top: 46px;
        height: calc(100% - 46px);
    }
}

@media (max-width: 600px) {
    body.tiFyPartial-SidebarBody.admin-bar .tiFyPartial-Sidebar {
        top: 0;
        height: 100%;
    }

    body.tiFyPartial-SidebarBody.admin-bar .tiFyPartial-SidebarPanel {
        top: 46px;
    }

    body.tiFyPartial-SidebarBody.admin-bar .tiFyPartial-SidebarToggleButton {
        top: 46px;
    }
}