/* = GLOBAL = */
.FormFieldsManager {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.FormFieldsManager-tools::before,
.FormFieldsManager-tools::after,
.FormFieldsManager-fieldsItems::before,
.FormFieldsManager-fieldsItems::after {
	display: table;
	content: " ";
}
.FormFieldsManager-tools::after,
.FormFieldsManager-fieldsItems::after {
	clear: both;
}
/* = SÉLECTEURS DE TYPE DE CHAMPS = */
.FormFieldsManager-tools {
	margin: 0 -5px;
}
.FormFieldsManager-dropdown {
	position: relative;
	float: left;
	width: 20%;
	padding: 0 5px;
	font-size: 14px;
	line-height: 1em;
	margin-bottom: 10px;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
	user-select: none;
}
.FormFieldsManager-dropdownChevron {
	position: absolute;
	top: 50%;
	right: 15px;
	display: inline-block;
	margin-top: -10px;
	color: #FFF;
}
.FormFieldsManager-dropdownList {
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
	background-color: #337AB7;
}
.FormFieldsManager-dropdownList > .selected {
	color: #FFF;
	padding: 12px 40px 12px 12px;
}
.FormFieldsManager-dropdownList::before,
.FormFieldsManager-dropdownList::after {
	display: none;
}
.FormFieldsManager-dropdownPicker {
	color: #333;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	margin: 2px 0;
}
.FormFieldsManager-dropdownPicker > ul > li {
	margin-bottom: 0;
}
.FormFieldsManager-dropdownPickerChoice {
	cursor: pointer;
	padding: 10px;
	-webkit-touch-callout: none;
  	-webkit-user-select: none; 
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
	user-select: none;
}
.FormFieldsManager-dropdownPickerChoiceIcon {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	fill: #333;
	margin-right: 15px;
}
/* = CHAMPS = */
/** == GLOBAL == **/
.FormFieldsManager-fields {
	position: relative;
}
.FormFieldsManager-fieldsWrapper {
	min-height: 400px;
	border: 3px dashed #D9D9D9;
	padding: 15px;
	overflow: hidden;
}
.FormFieldsManager-fields::before {
	position: absolute;
	display: block;
	content: attr(data-title);
	top: 50%;
	left: 15%;
	right: 15%;
	text-align: center;
	font-size: 34px;
	font-weight: 700;
	line-height: 1.1em;
	color: #D9D9D9;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0;
}
.FormFieldsManager-fields.is-empty::before {
	opacity: 1;
}
.FormFieldsManager-fieldsItems {
	position: relative;
	margin: 0 -15px;
	z-index: 1;
}
/** == OVERLAY == **/
.FormFieldsManager-fieldsOverlay {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,0.7);
	z-index: 2;
}
/** == SPINNER == **/
.FormFieldsManager-fieldsSpinner {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #337AB7;
	margin: -20px 0 0 -20px;
}
/** == ÉLÉMENT == **/
.FormFieldsManager-fieldsItem,
.FormFieldsManager-fieldsItemInner {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.FormFieldsManager-fieldsItemInner {
	position: relative;
	cursor: pointer;
}
.FormFieldsManager-fieldsItem {
	position: relative;
	float: left;
	width: 100%;
	padding: 0 15px;
	margin-bottom: 15px;
}
.FormFieldsManager-fieldsItem:last-child {
	margin-bottom: 0;
}
.FormFieldsManager-fieldsItem.ui-sortable-helper{
	background-color: #F6F6F6;
}
.FormFieldsManager-fieldsItem.ui-sortable-placeholder{
	position: relative;
}
.FormFieldsManager-fieldsItem.ui-sortable-placeholder::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	right: 15px;
	bottom: 0;
	left: 15px;
	background-color: #F1F1F1;
	visibility: visible !important;
	border: dashed 1px #D9D9D9;
}
.FormFieldsManager-fieldsItemInnerWrap {
	position: relative;
	letter-spacing: -0.31em;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
	user-select: none;
	padding: 20px 70px 20px 70px;
	font-size: 14px;
	color: #696969;
	background-color: #F1F1F1;
	overflow: hidden;
}
.FormFieldsManager-fieldsItemIcon,
.FormFieldsManager-fieldsItemLabel {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: normal;
}
.FormFieldsManager-fieldsItemIcon {
	width: 24px;
	height: 24px;
	fill: #696969;
	margin-right: 15px;
}
.FormFieldsManager-fieldsItemLabel {
	line-height: 1em;
}
.FormFieldsManager-fieldsItemRemove{
	position:absolute;
	top:0;
	right:0;
	z-index: 10;	
	display: block;
	border-color: transparent #CCC transparent transparent;
	border-style: solid;
    border-width: 0 35px 35px 0;
    width: auto;
    height: auto;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}
.FormFieldsManager-fieldsItemRemove::before {
	position: absolute;
	display: block;
	z-index: 15;
	right: -35px; 
	top: 0;
	text-align: center;
	color: #0074A2;
}
.FormFieldsManager-fieldsItemCustomize {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	background-color: #CCC;
	text-align: center;
}
.FormFieldsManager-fieldsItemCustomizeIcon {
	display: inline-block;
	font-size: 18px;
	width: auto;
	height: auto;
	color: #0074A2;
	margin-top: 4px;
	margin-left: -5px;
}
.FormFieldsManager-fieldsItemCustomizeIcon::before {
	display: block;
}
.FormFieldsManager-fieldsItemSort {
	position: absolute;
	display: block;
	top: 50%;
	left: 30px;
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: #0074A2;
	margin-top: -12px;
	cursor: move;
}
.FormFieldsManager-fieldsItemEditor {
	display: none;
}

/* = ÉDITEUR = */
/** == GLOBAL == **/
.FormFieldsManager-editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	color: #555;
	width: 300px;
	background-color: #EEE;
	border: 1px solid #DDD;
	overflow: hidden;
	z-index: 3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.FormFieldsManager-editorWrap {
	position: relative;
	left: 0;
	height: -webkit-calc( 100% - 45px );
	height: -moz-calc( 100% - 45px );
	height: calc( 100% - 45px );
}
/** == CONTROLES == **/
.FormFieldsManager-editorControls {
	margin: 0;
	border-bottom: 1px solid #DDD;
}
.FormFieldsManager-editorControls::before,
.FormFieldsManager-editorControls::after {
	display: table;
	content: " ";
}
.FormFieldsManager-editorControls::after {
	clear: both;
}
.FormFieldsManager-editorControlsItem {
	margin: 0;
	cursor: pointer;
	line-height: 0;
}
.FormFieldsManager-editorControlsItem--cancel {
	float: left;
	padding: 10px;
	border-right: 1px solid #DDD;
}
.FormFieldsManager-editorControlsItem--save {
	float: right;
	padding-top: 8px;
	padding-right: 10px;
}
.FormFieldsManager-editorControlsItemCancel {
	font-size: 24px;
	width: auto;
	height: auto;
	color: #555;
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}
/** == ENTÊTE == **/
.FormFieldsManager-editorHeader {
	border-bottom: 1px solid #DDD;
	padding: 15px;
	background-color: #FFF;
	margin-bottom: 20px;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
	user-select: none;
}
.FormFieldsManager-editorHeaderTitle {
	font-size: 22px;
	font-weight: 200;
	line-height: 1em;
}
.FormFieldsManager-editor .FormFieldsManager-fieldsItemLabel {
	padding: 10px 0;
}
/** == ÉLÉMENTS = */
.FormFieldsManager-editorItems {
	margin: 0;
	height: -webkit-calc( 100% - 75px );
	height: -moz-calc( 100% - 75px );
	height: calc( 100% - 75px );
	overflow-y: auto;
}
.FormFieldsManager-editorItem {
	border-bottom: 1px solid #EEE;
	margin: 0;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
	user-select: none;
}
.FormFieldsManager-editorItemTitle {
	position: relative;
	font-size: 14px;
	padding: 12px 40px 12px 12px;
	cursor: pointer;
	margin: 0;
	color: #555;
	background-color: #FFF;
}
.FormFieldsManager-editorItemTitle::after {
	position: absolute;
	display: block;
	content: "\f345";
	top: 50%;
	right: 12px;
	font: 16px/1em "dashicons";
	color: #555;
	margin-top: -0.5em;
}
/** == PANNEAU == **/
.FormFieldsManager-editorItemPanel {
	position: absolute;
	top: 0;
	width: 100%;
	bottom: 0;
	left: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #EEE;
	z-index: -1;
}
.FormFieldsManager-editorItem.is-active .FormFieldsManager-editorItemPanel {
	z-index: 1;
}
.FormFieldsManager-editorItemPanelHeader {
	position: relative;
	background-color: #FFF;
	padding: 15px 15px 15px 60px;
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
}
.FormFieldsManager-editorItemPanelBack {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: auto;
	height: auto;
	padding: 10px;
	background-color: #FFF;
	border: none;
	cursor: pointer;
	border-right: 1px solid #DDD;
}
.FormFieldsManager-editorItemPanelBack::before {
	display: inline-block;
	top: 50%;
	font-size: 24px;
	color: #555;
}
.FormFieldsManager-editorItemPanelTitle {
	display: block;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.4em;
	margin-bottom: 0.3em;
}
.FormFieldsManager-editorItemPanelSubtitle {
	display: block;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.4em;
}
.FormFieldsManager-editorItemPanelContent {
	font-size: 14px;
	padding: 0 12px 12px 12px;
}
.FormFieldsManager-editorItemField {
	margin-bottom: 20px;
}
.FormFieldsManager-editorItem[data-field_group],
.FormFieldsManager-editorItem[data-field_type],
.FormFieldsManager-editorItemField[data-field_group],
.FormFieldsManager-editorItemField[data-field_type] {
	display: none;
}
.FormFieldsManager-editorItemFieldLabel {
	display: block;
	font-weight: 600;
	margin-bottom: 0.5em;
}
.FormFieldsManager-editorItemFieldInput,
.FormFieldsManager-editorItemFieldDropdown {
	display: block;
	width: 100%;
	margin-bottom: 0.5em;
}
.FormFieldsManager-editorItemFieldDesc {
	display: block;
	font-size: 13px;
	font-style: italic;
	line-height: 1.3em;
}
/*** === LISTE DE CHOIX === ***/
.FormFieldsManager-editorItemChoicesButton.button-secondary {
	vertical-align: middle;
}
.FormFieldsManager-editorItemChoicesButtonAdd {
	width: auto;
	height: auto;
	vertical-align: middle;
	line-height: 1em;
	margin-right: 5px;
}
.FormFieldsManager-editorItemChoicesButtonSpinner {
	float: none;
	display: none;
	visibility: visible;
	margin: 0 0 0 10px;
}
.FormFieldsManager-editorItemChoicesButtonSpinner.is-processing {
	display: inline-block;
}
.FormFieldsManager-editorItemChoicesInner {
	position: relative;
	margin-top: 15px;
}
.FormFieldsManager-editorItemChoicesInnerOverlay {
	position: absolute;
	display: none;
	content: " ";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #EEE;
	opacity: 0.7;
	z-index: 2;
}
.FormFieldsManager-editorItemChoicesItems {
	position: relative;
	border: 1px dashed transparent;
	min-height: 40px;
}
.FormFieldsManager-editorItemChoicesItems.is-empty {
	border-color: #B4B9BE;
}
.FormFieldsManager-editorItemChoicesItems::before {
	position: absolute;
	display: block;
	content: attr(data-title);
	top: 50%;
	right: 15%;
	left: 15%;
	font-size: 13px;
	color: #555;
	line-height: 1.4em;
	text-align: center;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0;
}
.FormFieldsManager-editorItemChoicesItems.is-empty::before {
	opacity: 1;
}
.FormFieldsManager-editorItemChoicesItem {
	position: relative;
	margin-bottom: 0;
	border: 1px solid #DDD;
	z-index: 1 !important;
	min-height: 38px;
}
.FormFieldsManager-editorItemChoicesItem.ui-sortable-placeholder {
	background-color: transparent;
	border: 1px dashed #B4B9BE;
}
.FormFieldsManager-editorItemChoicesItem + .FormFieldsManager-editorItemChoicesItem {
	margin-top: -1px;
}
.FormFieldsManager-editorItemChoicesItemHeader {
	position: relative;
	font-size: 13px;
	font-weight: 600;
	color: #23282D;
	background-color: #FFF;
	padding: 10px 30px 10px 15px;
	cursor: move;
}
.FormFieldsManager-editorItemChoicesItemDeploy {
	position: absolute;
	display: block;
	top: 50%;
	right: 10px;
	color: #72777C;
	margin-top: -0.5em;
	z-index: 1;
	cursor: pointer;
}
.FormFieldsManager-editorItemChoicesItem.is-active .FormFieldsManager-editorItemChoicesItemDeploy::before {
	content: "\f142";
}
.FormFieldsManager-editorItemChoicesItemSettings {
	max-height: 0;
	overflow: hidden;
}
.FormFieldsManager-editorItemChoicesItemSettingsInner {
	padding: 10px;
}
.FormFieldsManager-editorItemChoicesItemLabel,
.FormFieldsManager-editorItemChoicesItemInput,
.FormFieldsManager-editorItemChoicesItemDesc {
	display: block;
	width: 100%;
	max-width: 100%;
}
.FormFieldsManager-editorItemChoicesItemLabel {
	font-size: 13px;
}
.FormFieldsManager-editorItemChoicesItemDesc {
	font-size: 12px;
	font-style: italic;
	line-height: 1.3em;
	color: #72777C;
	margin-bottom: 15px;
}
.FormFieldsManager-editorItemChoicesItemDesc:last-of-type {
	margin-bottom: 0;
}
.FormFieldsManager-editorItemChoicesItemDelete {
	font-size: 13px;
	background-color: transparent;
	border: none;
	color: #A00;
	cursor: pointer;
	padding: 0;
	margin-top: 10px;
}

/****************************************************
*					ANIMATIONS
****************************************************/
/* = SÉLECTEURS DE TYPE DE CHAMPS = */
.FormFieldsManager-dropdownList,
.FormFieldsManager-dropdownPickerChoice {
	-webkit-transition: background-color 400ms ease-in-out;
	-moz-transition: background-color 400ms ease-in-out;
	-o-transition: background-color 400ms ease-in-out;
	transition: background-color 400ms ease-in-out;
}
.FormFieldsManager-dropdownList:hover,
.FormFieldsManager-dropdownList:focus {
	background-color: #204D74;
}
.FormFieldsManager-dropdownPickerChoice:hover,
.FormFieldsManager-dropdownPickerChoice:focus {
	background-color: #E6E6E6;
}
/* = CHAMPS = */
/** == GLOBAL == **/
.FormFieldsManager-fields::before,
.FormFieldsManager-editorItemChoicesItems::before {
	-webkit-transition: opacity 400ms ease-in-out;
	-moz-transition: opacity 400ms ease-in-out;
	-o-transition: opacity 400ms ease-in-out;
	transition: opacity 400ms ease-in-out;
}
/** == ÉLÉMENT == **/
.FormFieldsManager-fieldsItemRemove,
.FormFieldsManager-fieldsItemRemove::before {
	-webkit-transition: 	-webkit-transform 0.2s ease-in-out; 
	-moz-transition: 		-moz-transform 0.2s ease-in-out; 
	-o-transition: 			-o-transform 0.2s ease-in-out; 
	transition: 			transform 0.2s ease-in-out;	
}
.FormFieldsManager-fieldsItemRemove:hover {
	-webkit-transform: 		scale(1.05) perspective(1px); 
	-moz-transform: 		scale(1.05) perspective(1px); 
	-o-transform: 			scale(1.05) perspective(1px); 
	-ms-transform: 			scale(1.05) perspective(1px); 
	transform: 				scale(1.05) perspective(1px);
}
.FormFieldsManager-fieldsItemRemove:hover::before {
	-webkit-transform: 		rotate(90deg) perspective(1px); 
	-moz-transform: 		rotate(90deg) perspective(1px); 
	-o-transform: 			rotate(90deg) perspective(1px); 
	-ms-transform: 			rotate(90deg) perspective(1px); 
	transform: 				rotate(90deg) perspective(1px);
}
.FormFieldsManager-fieldsItemCustomize {
	-webkit-transition: 	-webkit-transform 0.2s ease-in-out; 
	-moz-transition: 		-moz-transform 0.2s ease-in-out; 
	-o-transition: 			-o-transform 0.2s ease-in-out; 
	transition: 			transform 0.2s ease-in-out;
	-webkit-transform: 		translate(-100%, -100%); 
	-moz-transform: 		translate(-100%, -100%); 
	-o-transform: 			translate(-100%, -100%); 
	-ms-transform: 			translate(-100%, -100%); 
	transform: 				translate(-100%, -100%);
}
.FormFieldsManager-fieldsItemInnerWrap:hover .FormFieldsManager-fieldsItemCustomize {
	-webkit-transform: 		translate(0, 0); 
	-moz-transform: 		translate(0, 0); 
	-o-transform: 			translate(0, 0); 
	-ms-transform: 			translate(0, 0); 
	transform: 				translate(0, 0);
}
/* = ÉDITEUR = */
/** == GLOBAL == **/
.FormFieldsManager-editor {
	-webkit-transition: 	-webkit-transform 0.3s ease-in-out; 
	-moz-transition: 		-moz-transform 0.3s ease-in-out; 
	-o-transition: 			-o-transform 0.3s ease-in-out;
	transition: 			transform 0.3s ease-in-out;
	-webkit-transform: 		translateX(100%); 
	-moz-transform: 		translateX(100%); 
	-o-transform: 			translateX(100%); 
	-ms-transform: 			translateX(100%); 
	transform: 				translateX(100%);
}
.FormFieldsManager-editor.is-active {
	-webkit-transform: 		translateX(0); 
	-moz-transform: 		translateX(0); 
	-o-transform: 			translateX(0); 
	-ms-transform: 			translateX(0); 
	transform: 				translateX(0);
}
.FormFieldsManager-editorWrap {
	-webkit-transition: 	left 0.3s ease-in-out; 
	-moz-transition: 		left 0.3s ease-in-out; 
	-o-transition: 			left 0.3s ease-in-out;
	transition: 			left 0.3s ease-in-out;
}
.FormFieldsManager-editorItemPanel {
	-webkit-transition: 	left 0.3s ease-in-out, z-index 0.3s ease-in-out 400ms; 
	-moz-transition: 		left 0.3s ease-in-out, z-index 0.3s ease-in-out 400ms; 
	-o-transition: 			left 0.3s ease-in-out, z-index 0.3s ease-in-out 400ms;
	transition: 			left 0.3s ease-in-out, z-index 0.3s ease-in-out 400ms;
}
.FormFieldsManager-editorItem.is-active .FormFieldsManager-editorItemPanel {
	-webkit-transition: 	left 0.3s ease-in-out; 
	-moz-transition: 		left 0.3s ease-in-out; 
	-o-transition: 			left 0.3s ease-in-out;
	transition: 			left 0.3s ease-in-out;
}
.FormFieldsManager-editor.has-opened-panel .FormFieldsManager-editorWrap {
	left: -100%;
}
.FormFieldsManager-editorControlsItem--cancel {
	-webkit-transition: background-color 400ms ease-in-out, border-color 400ms ease-in-out;
	-moz-transition: background-color 400ms ease-in-out, border-color 400ms ease-in-out;
	-o-transition: background-color 400ms ease-in-out, border-color 400ms ease-in-out;
	transition: background-color 400ms ease-in-out, border-color 400ms ease-in-out;
}
.FormFieldsManager-editorControlsItem--cancel:hover,
.FormFieldsManager-editorControlsItem--cancel:focus {
	background-color: #DDD;
	border-color: #CCC;
}
.FormFieldsManager-editorItemTitle,
.FormFieldsManager-editorItemTitle::after,
.FormFieldsManager-editorItemPanelBack {
	-webkit-transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
	-moz-transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
	-o-transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
	transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
}
.FormFieldsManager-editorItemTitle:hover,
.FormFieldsManager-editorItemTitle:focus,
.FormFieldsManager-editorItemPanelBack:hover,
.FormFieldsManager-editorItemPanelBack:focus {
	color: #23282D;
	background: #F5F5F5;
}
.FormFieldsManager-editorItemTitle:hover::after,
.FormFieldsManager-editorItemTitle:focus::after {
	color: #23282D;
}
/** == LISTE DE CHOIX == **/
.FormFieldsManager-editorItemChoicesItems {
	-webkit-transition: border-color 400ms ease-in-out;
	-moz-transition: border-color 400ms ease-in-out;
	-o-transition: border-color 400ms ease-in-out;
	transition: border-color 400ms ease-in-out;
}
.FormFieldsManager-editorItemChoicesItemSettings {
	-webkit-transition: max-height 400ms ease-in-out;
	-moz-transition: max-height 400ms ease-in-out;
	-o-transition: max-height 400ms ease-in-out;
	transition: max-height 400ms ease-in-out;
}
.FormFieldsManager-editorItemChoicesItemHeader:hover,
.FormFieldsManager-editorItemChoicesItemHeader:focus {
	color: #0073AA;
}
.FormFieldsManager-editorItemChoicesItem.is-active,
.FormFieldsManager-editorItemChoicesItem:hover,
.FormFieldsManager-editorItemChoicesItem:focus {
	z-index: 2 !important;
	border-color: #999;
}
.FormFieldsManager-editorItemChoicesItem.is-active .FormFieldsManager-editorItemChoicesItemSettings {
	max-height: 500px;
}
.FormFieldsManager-editorItemChoicesItemDelete:hover,
.FormFieldsManager-editorItemChoicesItemDelete:focus {
	color: #F00;
}