// Variables
@import "~presstify-framework/partial/variables";

// Personnalisation
[data-control="curtain-menu.panel"] {
  transition: all 0.5s;
  transform: translate3d(-100%, 0, 0);
}

[data-control="curtain-menu.panel"][aria-open="true"] {
  transform: translate3d(0, 0, 0);
}

.CurtainMenu {
  position: relative;
  min-height: 400px;
  overflow-x: hidden;
  background-color: #FFF;
}

.CurtainMenu-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.CurtainMenu-panel {
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}

.CurtainMenu-panelWrapper {
  position: static;
  height: 100%;
  background-color: #FFF;
}

.CurtainMenu-panelContainer {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.CurtainMenu-panelContainer::-webkit-scrollbar {
  display: none;
}

.CurtainMenu-panelTitle,
.CurtainMenu-panelBack,
.CurtainMenu-itemLink {
  position: relative;
  display: block;
}

.CurtainMenu-items {
  margin: 0;
  padding: 0;
}

.CurtainMenu-item {
  margin: 0;
  padding: 0;
}

.CurtainMenu-panelTitle {
  padding: 20px 30px 20px 20px;
}

.CurtainMenu-panelBack,
.CurtainMenu-itemLink {
  padding: 10px 20px;
}

.CurtainMenu-panelTitle {
  margin: 0;
}

.CurtainMenu-panelTitleLink {
  position: relative;
  display: block;
  padding: 20px 30px 20px 20px;
  margin: -20px -30px -20px -20px;
}

.CurtainMenu-panelBack {
  padding-left: 30px;
}

.CurtainMenu-panelTitleLink::before,
.CurtainMenu-panelBack::before,
.CurtainMenu-item--hasChildren > .CurtainMenu-itemLink::before {
  position: absolute;
  top: 50%;
  display: block;
  line-height: 1;
  margin-top: -7px;
  font-size: 14px;
  font-family: "Dashicons";
}

.CurtainMenu-panelTitleLink::before {
  right: 8px;
  margin-top: -10px;
  font-size: 20px;
  content: "\f344";
}

.CurtainMenu-panelBack::before {
  left: 5px;
  content: "\f341";
}

.CurtainMenu-item--hasChildren > .CurtainMenu-itemLink::before {
  right: 5px;
  content: "\f345";
}

/**
 * THEMES
 */
/**
 * Light
 */
.CurtainMenu--light {
  .CurtainMenu-panelTitleLink,
  .CurtainMenu-panelBack,
  .CurtainMenu-itemLink,
  .CurtainMenu-item--current > .CurtainMenu-itemLink {
    color: #000;
  }

  .CurtainMenu-panelTitleLink {
    background-color: #FFFFFF;
  }

  .CurtainMenu-panelBack {
    background-color: #E4E4E4;
  }

  .CurtainMenu-itemLink {
    background-color: #FFFFFF;
    border-bottom: solid 1px #E4E4E4;
  }

  .CurtainMenu-item--current > .CurtainMenu-itemLink {
    background-color: #F4F4F4;
  }

  .CurtainMenu-panelTitleLink:hover,
  :not(.CurtainMenu-item--current) > .CurtainMenu-itemLink:hover {
    background-color: #F4F4F4;
  }

  .CurtainMenu-panelBack:hover {
    background-color: #D9D9D9;
  }
}

/**
 * Dark
 */
.CurtainMenu--dark {
  .CurtainMenu-panelTitleLink,
  .CurtainMenu-panelBack,
  .CurtainMenu-itemLink,
  .CurtainMenu-item--current > .CurtainMenu-itemLink {
    color: #EEE;
  }

  .CurtainMenu-panelTitleLink {
    background-color: #23282D;
  }

  .CurtainMenu-panelBack {
    background-color: #161A1D;
  }

  .CurtainMenu-itemLink {
    background-color: #23282D;
    border-bottom: solid 1px #2C333A;
  }

  .CurtainMenu-item--current > .CurtainMenu-itemLink {
    background-color: #374048;
  }

  .CurtainMenu-panelTitleLink:hover,
  :not(.CurtainMenu-item--current) > .CurtainMenu-itemLink:hover {
    background-color: #374048;
  }

  .CurtainMenu-panelBack:hover {
    background-color: #0B0D0E;
  }
}

/**
 * ANIMATION
 */
.CurtainMenu-panelTitleLink,
.CurtainMenu-panelBack,
.CurtainMenu-itemLink {
  transition: background-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0);
}