/* = SELECTEUR DE TRAITEMENT = */
[data-tify_control='dropdown-handler']{
	display:none;
}

/* = SELECTEUR HTML = */
[data-tify_control='dropdown']{
	position:relative;
	display:inline-block;
	padding:5px;
	
	line-height:1;
	background-color:#FFF;
	border-color:#E4E4E4;
	border-style:solid;
	border-width:1px;
	box-sizing:border-box;
	vertical-align:middle;
}
[data-tify_control='dropdown']::before{
	position:absolute;
	top:0; right:0; bottom:0;
	content:"";	display:block;
	width:16px;
	z-index:0;
	
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#E4E4E4;
	background-color:#F4F4F4;	
}
[data-tify_control='dropdown']::after{
	position:absolute;
	content:"";
	right:4px;top:50%;
	margin-top:-2px;
	border-color:#333 transparent;
	border-style:solid;
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 0;
	border-left-width: 4px; 
    display: inline-block;
    height: 0; width: 0; 
    z-index:1;   
}
[data-tify_control='dropdown'].active::after{
	border-top-width: 0;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
}
[data-tify_control='dropdown'].disabled{
	opacity:0.5;
}
[data-tify_control='dropdown'] > .selected{
	position:relative;
	padding:0;
	cursor:pointer;	
	margin-right:16px;
	display:block;
	overflow:hidden;
	height:1em;
	text-overflow: ellipsis;
	z-index:1;
}

/* = LISTE DEROULANTE = */
[data-tify_control='dropdown-picker']{
	position:absolute;
	display:none;
	margin:0;
	overflow-y:auto;
	max-height:10em;
	z-index:99;
	
	background-color:#FFF;
	border-width:1px;
	border-style:solid;
	border-color:#E4E4E4;
	border-top:none;
}
[data-tify_control='dropdown-picker'].active{
	display:inherit;	
}
[data-tify_control='dropdown-picker'] > ul{
	position:relative;
	width: 100%; height:100%;
	margin:0; padding:0;
}
[data-tify_control='dropdown-picker'] > ul > li{
	margin:0; padding:0.1em 0.4em;
	display:block;
	cursor:pointer;
}
[data-tify_control='dropdown-picker'] > ul > li:hover{
	background-color:#F4F4F4;	
}
[data-tify_control='dropdown-picker'] > ul > li.checked{
	background-color:DodgerBlue;
	color:#FFF;
}