@import "~presstify-framework/theme/scss/variables";

// Dépendances
@import "~presstify-framework/partial/spinner/scss/three-bounce";

/** STYLES DE CONTROLE (recommandé) */
.FieldSelectJs,
.FieldSelectJs > *,
.FieldSelectJs-picker,
.FieldSelectJs-picker > * {
    box-sizing: border-box;
}

.FieldSelectJs-handler {
    display: none;
}

.FieldSelectJs-selectionItem[aria-selected="true"] {
    display:inherit;
}

/** STYLES GENERAUX */
.FieldSelectJs {
    position: relative;
    border-style: solid;
    border-width:1px;
    border-color: $field-select-js-color-light;
    background-color: $field-select-js-color-bkg;
}

.FieldSelectJs-triggerHandler {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:2;
    cursor:inherit;
}

.FieldSelectJs[aria-arrow="true"] {
    .FieldSelectJs-trigger {
        padding-right: 20px;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            content: " ";
            width: 19px;
            border-left-style: solid;
            border-left-width:1px;
            border-left-color: $field-select-js-color-light;
            background-color: $field-select-js-color-lighter;
        }

        &::after {
            position: absolute;
            top: 50%;
            right: 5px;
            z-index: 1;
            width: 0;
            height: 0;
            margin-top: -2px;
            display: inline-block;
            content: " ";
            border-color: $field-select-js-color-regular transparent;
            border-style: solid;
            border-top-width: 4px;
            border-right-width: 4px;
            border-bottom-width: 0;
            border-left-width: 4px;
        }
    }

    &[aria-open="true"] .FieldSelectJs-trigger::after {
        border-top-width: 0;
        border-right-width: 4px;
        border-bottom-width: 4px;
        border-left-width: 4px;
    }
}

.FieldSelectJs-autocomplete {
    position:relative;
    margin: 0;
    padding:2px 7px;
    border: none;
    width: 100%;
    z-index:3;
}

.FieldSelectJs-selection {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &::before,
    &::after {
        display: table;
        content: "";
    }

    &::after {
        clear: both;
    }
}

.FieldSelectJs-selectionItem {
    position: relative;
    cursor: default;
    margin:0;
    white-space: nowrap;
    background-color: transparent;
    display:none;
}

.FieldSelectJs[aria-multiple="false"][aria-autocomplete="true"] .FieldSelectJs-selection{
    position: absolute;
    top:0;
    right:20px;
    bottom:0;
    left:0;
}

.FieldSelectJs[aria-multiple="true"] .FieldSelectJs-selectionItem {
    float: left;
    background-color: $field-select-js-color-lighter;
    border-style:solid;
    border-width:1px;
    border-color: $field-select-js-color-light;
    border-radius: 2px;
}

.FieldSelectJs[aria-highlight="true"] {
    animation: 1s FieldSelectJs-highlight;
}

@-webkit-keyframes FieldSelectJs-highlight {
    25% {
        background-color: $field-select-js-color-highlight-bkg;
        border-color: $field-select-js-color-highlight-border;
    }
}

@keyframes FieldSelectJs-highlight {
    25% {
        background-color: $field-select-js-color-highlight-bkg;
        border-color: $field-select-js-color-highlight-border;
    }
}

.FieldSelectJs-selectionItem[aria-sortable="true"]  {
    padding-left: 15px;
    user-select: none;
}

.FieldSelectJs-selectionItemSort {
    position: absolute;
    top: 50%;
    left: 4px;
    z-index:3;
    color: #999;
    cursor: move;
    display: block;
    font-weight: 700;
    padding: 2px 0;
    margin: 0;
    transform: translateY(-50%) rotate(90deg);
}

.FieldSelectJs-selectionItem[aria-removable="true"] {
    padding-right: 20px;
}

.FieldSelectJs-selectionItemRemove {
    position: absolute;
    top: 50%;
    right: 2px;
    z-index: 3;
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 2px;
    transform: translateY(-50%);
}

.FieldSelectJs-picker {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0 4px;
    overflow: hidden;
    z-index: 99998;
    background-color: $field-select-js-color-bkg;
    border-style: solid;
    border-width: 1px;
    border-color: $field-select-js-color-light;

    &[aria-open="true"] {
        display: inherit;
    }
}

.FieldSelectJs-pickerFilter {
    margin: 4px 0;
    width: 100%;
}

.FieldSelectJs-pickerItems {
    margin: 0 -4px;
    max-height: 10em;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.FieldSelectJs-picker[aria-complete="false"] .FieldSelectJs-pickerItems {
    padding-bottom: 20px;
}

.FieldSelectJs-pickerItem {
    position: relative;
    margin: 0;
    padding: 5px;
    display: block;
    line-height: 1;
    min-height: 1.2em;
    cursor: pointer;
    color: #444;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.FieldSelectJs-pickerItem[aria-selected="true"] {
    background-color: $field-select-js-color-selected-bkg;
    color: $field-select-js-color-selected-txt;
}

.FieldSelectJs-pickerItem:not([aria-selected="true"])[aria-disabled="true"] {
    color: #AAA;
}

.FieldSelectJs-picker[aria-multiple="false"] .FieldSelectJs-pickerItems:hover .FieldSelectJs-pickerItem{
    background-color:inherit;
    color: inherit;
}

.FieldSelectJs-picker[aria-multiple] .FieldSelectJs-pickerItems:hover .FieldSelectJs-pickerItem:hover {
    background-color: #66b3ff;
    color: #FFF;
}
.FieldSelectJs-picker[aria-multiple] .FieldSelectJs-pickerItems:hover .FieldSelectJs-pickerItem[aria-selected="true"]:hover {
    background-color: #0073e6;
    color: #FFF;
}

.FieldSelectJs-picker[aria-multiple] .FieldSelectJs-pickerItems:hover .FieldSelectJs-pickerItem:not([aria-selected="true"])[aria-disabled="true"]:hover {
    background-color: #FFF;
    color: #AAA;
}

.FieldSelectJs-picker[aria-multiple] .FieldSelectJs-pickerItems:hover .FieldSelectJs-pickerItem[aria-disabled="true"]:hover {
    cursor: inherit;
}

.FieldSelectJs-pickerItem[aria-highlight="true"] {
    animation: 0.1s FieldSelectJs-pickerItemHightlight;
}

@-webkit-keyframes FieldSelectJs-pickerItemHightlight {
    50% {
        opacity:1;
    }
}

@keyframes FieldSelectJs-pickerItemHightlight {
    50% {
        opacity:1;
    }
}

.FieldSelectJs-pickerMore {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    height:20px;
    text-decoration: none;
    color: #2B2B2B;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border-top: solid 1px #E4E4E4;
    background: #F4F4F4;
}

.FieldSelectJs-pickerMore:hover,
.FieldSelectJs-pickerMore:active,
.FieldSelectJs-pickerMore:focus {
    color: #444;
}

.FieldSelectJs-pickerMore:focus {
    outline: none;
}

.FieldSelectJs-picker[aria-complete="true"] .FieldSelectJs-pickerMore {
    display: none;
}

.FieldSelectJs-pickerLoader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    height:20px;
    display:none;
    z-index: 2;
    background: #FFF;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.FieldSelectJs-picker[aria-loader="true"] {
    min-height: 20px;
}

.FieldSelectJs-picker[aria-loader="true"] .FieldSelectJs-pickerLoader{
    display:inherit;
}

.FieldSelectJs-pickerSpinkit {
    margin: 0 auto !important;
    transform: scale(0.3);
}

.FieldSelectJs[aria-disabled="true"] {
    cursor: inherit;
    background-color: #F4F4F4;
    color: #BBB;
}

.FieldSelectJs[aria-disabled="true"][aria-arrow="true"] .FieldSelectJs-trigger::before,
.FieldSelectJs[aria-disabled="true"][aria-arrow="true"] .FieldSelectJs-trigger::after {
    opacity: 0.5;
}

.FieldSelectJs[aria-disabled="true"] {
    background-color: #F4F4F4;
    cursor: not-allowed;

    .FieldSelectJs-selectionItem {
        color: #BBB;
    }
}

.FieldSelectJs[aria-disabled="true"][aria-multiple="true"] .FieldSelectJs-selectionItem {
    border: 1px solid #DDD;
}

.FieldSelectJs[aria-disabled="true"] .FieldSelectJs-selectionItemRemove {
    color: #BBB;
    cursor:inherit;
}

.FieldSelectJs[aria-disabled="true"] .FieldSelectJs-selectionItemRemove:hover {
    color: #BBB;
}

.FieldSelectJs[aria-disabled="true"] .FieldSelectJs-selectionItemSort {
    color: #BBB;
    cursor:inherit;
}

.FieldSelectJs[aria-disabled="true"] .FieldSelectJs-autocomplete {
    display: none;
}