/* = GLOBAL = */
br.clear {
    height: 2px;
    line-height: 2px;
}
.screen-reader-text {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    word-wrap: normal!important;
}

/* = VUES FILTREES = */
.subsubsub{
	float:left;
	list-style: none;
    margin: 8px 0 0;
    padding: 0;
    font-size: 14px;
    color: #666;
}
.subsubsub li {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.subsubsub a {
    line-height: 2;
    padding: .2em;
    text-decoration: none;
}
.subsubsub a.current {
    font-weight: 900;
    color: #333;
    border: none;
}

/* = FORMULAIRE DE RECHERCHE = */
p.search-box {
    float: right;
    margin: 0;
}
.search-box input[name="s"], .tablenav .search-plugins input[name="s"], .tagsdiv .newtag {
    float: left;
    height: 33px;
    margin: 0 4px 0 0;
    
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    -webkit-transition: 50ms border-color ease-in-out;
    transition: 50ms border-color ease-in-out;
    
    padding: 3px 5px;
}

/* = ORGANES DE NAVIGATION ET DE CONTRÔLE = */
.tablenav {
    clear: both;
    margin: 6px 0 4px;
    vertical-align: middle;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
}

.tablenav::before,
.tablenav::after{
	display:table;
	content:"";
}
.tablenav::after{
	clear:both;
}
.tablenav .alignleft{
	float:left;
}

/** == ACTIONS GLOBALES == **/
.tablenav .actions select {
    float: left;
    margin-right: 6px;
    max-width: 200px;
    padding: 2px;
    line-height: 34px;
    height:34px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
}

/** == PAGINATION == **/
.tablenav .tablenav-pages {
    float: right;
    margin-top: 3px;
    cursor: default;
    color: #555;
}
.tablenav .displaying-num {
    margin-right: 7px;
}
.tablenav-pages a, .tablenav-pages-navspan {
    font-weight: 600;
    padding: 0 2px;
       font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.tablenav .tablenav-pages a, .tablenav-pages-navspan {
    display: inline-block;
    min-width: 17px;
    border: 1px solid #ccc;
    padding: 8px 10px 8px;
    background: #e5e5e5;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
}
.tablenav-pages-navspan {
    border-color: #ddd;
    background: #f7f7f7;
    color: #a0a5aa;
}
.tablenav-pages .current-page {
    margin: 0 2px 0 0;
    padding-bottom: 5px;
    font-size: 13px;
    text-align: center;
    
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    
    padding: 3px 5px;
}
.tablenav .total-pages {
    margin-right: 2px;
}

/* = LISTE = */
/** == ENTETE == **/
th.sortable > a,
th.sorted > a{
	position:relative;
	display:block;
	color: #333;
	padding-left:20px;
}
th.sortable > a > .sorting-indicator,
th.sorted > a > .sorting-indicator{
	position:relative;
	width:20px; height:20px;
	float:left;
	margin-left:-40px;
}
th.sortable > a > .sorting-indicator::before,
th.sorted > a > .sorting-indicator::before{
	position: absolute;
	top:50%; left:50%;
	transform:translate( -50%, -50% );
    display: block;
    font-family: 'Glyphicons Halflings';
	font-weight:normal;
	margin-left:15px;
}
th.sortable > a > .sorting-indicator::before{
	content: "\e150";
	opacity:0.5;
}
th.sorted.asc > a > .sorting-indicator::before{
	content: "\e155";
}
th.sorted.desc > a > .sorting-indicator::before{
	content: "\e156";
}

/** == CORPS == **/
#the-list .highlighted-success > *:first-child{
	border-left: 4px solid #46B450;	
}
#the-list .highlighted-info > *:first-child{
	border-left: 4px solid #00A0D2;
}
#the-list .highlighted-warning > *:first-child{
	border-left: 4px solid #FFB900;
}
#the-list .highlighted-error > *:first-child{
	border-left: 4px solid #DC3232;
}

/** == ACTIONS PAR LIGNE == **/
.row-actions {
    color: #BBB;
    font-size:14px;
    position: relative;
    left: -9999em;
}
tr:hover .row-actions{
	position:static;
}