// Variables
@import "~presstify-framework/partial/variables";

// Personnalisation
body[data-sidebar="true"] {
  overflow-x: hidden;
}

body.admin-bar[data-sidebar="true"] .Sidebar {
  top: 32px;
  height: calc(100% - 32px);
}

.Sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  content: "";
}

.Sidebar[aria-position="left"] {
  left: 0;
}

.Sidebar[aria-position="right"] {
  right: 0;
}

.Sidebar-sideToggle {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  padding: 5px;
  z-index: 999999;
}

.Sidebar-toggle {
  display: block;
}

.Sidebar-toggleSvg {
  vertical-align: initial;
}

.Sidebar[aria-position="left"] .Sidebar-sideToggle {
  right: 0;
  transform: translateX(100%);
}

.Sidebar[aria-position="right"] .Sidebar-sideToggle {
  left: 0;
  transform: translateX(-100%);
}

.Sidebar-header,
.Sidebar-footer {
  position: relative;
}

.Sidebar-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  box-sizing: content-box;
}

.Sidebar-body {
  position: relative;
  width: calc(100% + 15px);
  height: 250px;
  overflow: hidden;
  overflow-y: scroll;
}

.Sidebar-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/** Sidebar positionnée à gauche */
[data-control="sidebar"][aria-position="left"][aria-closed="true"] {
  transform: translateX(-100%);
}

[data-control="sidebar"][aria-position="left"][aria-closed="false"] {
  transform: translateX(0);
}

/** Sidebar positionnée à droite */
[data-control="sidebar"][aria-position="right"][aria-closed="true"] {
  transform: translateX(100%);
}

[data-control="sidebar"][aria-position="right"][aria-closed="false"] {
  transform: translateX(0);
}

[data-control="sidebar"][aria-animate="true"] {
  transition: transform 300ms cubic-bezier(0.7, 0, 0.3, 1);
}

/** THEME */
/** Dark */
.Sidebar[aria-theme="dark"] {
  .Sidebar-panel {
    background-color: #2B2B2B;
    color: #FFF;
  }

  .Sidebar-sideToggle {
    background-color: #2B2B2B;
    color: #FFF;
  }

  .Sidebar-toggleSvg {
    fill:#FFF;
  }
}

/** Light */
.Sidebar[aria-theme="light"]{
  .Sidebar-panel {
    background-color: #FFF;
    color: #2B2B2B;
  }

  .Sidebar-sideToggle {
    background-color: #FFF;
  }

  .Sidebar-toggleSvg {
    fill:#2B2B2B;
  }
}

/**
 * RESPONSIVE
 */
@media (max-width: 782px) {
  body.admin-bar[data-sidebar="true"] .Sidebar {
    top: 46px;
    height: calc(100% - 46px);
  }
}

@media (max-width: 600px) {
  body.admin-bar[data-sidebar="true"] .Sidebar {
    top: 0;
    height: 100%;
  }

  body.admin-bar[data-sidebar="true"] .Sidebar-panel {
    top: 46px;
  }

  body.admin-bar[data-sidebar="true"] .Sidebar-toggle {
    top: 46px;
  }
}