body.tiFySidebar-body {
	overflow-x:hidden;
}
body.tiFySidebar-body.admin-bar .tiFySidebar{
    top:32px;
    height:calc(100% - 32px);
}
.tiFySidebar {
	position:fixed;
	top:0; bottom:0; 
	height:100%;
	content:"";
}
.tiFySidebar--left {
	left:0;
}
.tiFySidebar--right {
	right:0;
}
.tiFySidebar-toggleButton {
	position:absolute;
	top:0;
	width:30px; height:30px;
	display:block;
	padding:7px 4px;
}
.tiFySidebar-toggleButton--left {
	right:0;
	transform:translateX(100%);
}
.tiFySidebar-toggleButton--right {
	left:0;
	transform:translateX(-100%);
}
.tiFySidebar-toggleButton > div {
	position: relative;
	width: 100%; height: 0;
    padding-top: 100%;
}
.tiFySidebar-toggleButton > div > svg {
	position:absolute;
	top:0; left:0;
}
.tiFySidebar-panel {
	position:absolute;
	top:0; right:0; bottom:0; left:0; 
	overflow:hidden;
	
    -webkit-box-sizing: content-box;
    -moz-box-sizing:    content-box;
    box-sizing:         content-box;
}	
.tiFySidebar-nodesWrapper {
	position:relative;
	width:100%;	height:100%;
	    
    -webkit-box-sizing: content-box;
    -moz-box-sizing:    content-box;
    box-sizing:         content-box;
    
    overflow:hidden;
    overflow-y: scroll;    
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; 
}
.tiFySidebar-nodesWrapper::-webkit-scrollbar{
    display: none;
}
.tiFySidebar-nodesContainer {
    height:100%;
}
.tiFySidebar-items {
	margin:0; padding:0;
	list-style-type:none;
}

/**
 * RESPONSIVE
 */
@media (max-width: 782px){
	body.tiFySidebar-body.admin-bar .tiFySidebar{
		top:46px;
		height:calc(100% - 46px);
	}
}
@media (max-width: 600px){
	body.tiFySidebar-body.admin-bar .tiFySidebar{
		top:0;
		height:100%;
	}
	body.tiFySidebar-body.admin-bar .tiFySidebar-panel{
		top:46px;
	}
	body.tiFySidebar-body.admin-bar .tiFySidebar-toggleButton{
		top:46px;
	}
}