.Browser {
    position: relative;
    height: 800px;

    background-color: #FFF;
}

/**
 * BARRE LATERALE
 */
.Browser-sidebar {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    width: 300px;
}

/**
 * CONTENU DU REPETOIRE COURANT
 */
.Browser-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
    padding: 10px;
}

.Browser-content.load::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

/**
 * Indicateur de chargement
 */
.Browser-contentLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

.Browser-content.load .Browser-contentLoader {
    display: inherit;
}

/**
 * Fil d'Arianne
 */
.Browser-contentBreadcrumb {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    height: 50px;

    line-height: 50px;
    background-color: #FFF;
    border-bottom: solid 1px #E4E4E4;
}

.Browser-contentBreadcrumbPart {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    margin-right: 2px;
}

.Browser-contentBreadcrumbPart--root {
    line-height: 1.4;
}

.Browser-contentBreadcrumbPart + .Browser-contentBreadcrumbPart::before {
    padding: 0 1px;
    content: "/\00a0";
}

.Browser-contentBreadcrumbPartLink {
    text-decoration: none;
}

/**
 * Zone de vue des fichiers du répertoire courant
 */
.Browser-contentView {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 50px;
    left: 0;
    padding: 5px;
    overflow: hidden;
    overflow-y: auto;
}

/**
 * Liste des fichiers
 */
.Browser-contentFileList > * {
    box-sizing: border-box;
}

.Browser-contentFileList::before,
.Browser-contentFileList::after {
    display: table;
    content: "";
}

.Browser-contentFileList::after {
    clear: both;
}

.Browser-contentFileList {
    margin: 0;
    padding: 0;
}

.Browser-contentFile {
    display: block;
    margin: 0;
    padding: 0;
}

.Browser-contentFileLink {
    position: relative;
    text-decoration: none;
}

.Browser-contentFile.selected .Browser-contentFileLink {
    background-color: #F4F4F4;
}

.Browser-contentFilePreview {
    position: relative;
    overflow: hidden;
}

/*
 PREVISUALISATION IMAGE
.BrowserFolder-FilePreview > img {
    object-fit: cover;
}

.BrowserFolder-FilePreviewSpinner {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

.BrowserFolder-FilePreview.load .BrowserFolder-FilePreviewSpinner {
    display: inherit;
}

.Browser-contentView--grid .BrowserFolder-FileIcon--image > img {
    width: 150px;
    height: 150px;
}
*/

/**
 * Liste des fichiers -- vue grille
 */
.Browser-contentView--grid .Browser-contentFileList {
    margin: 0 -10px;
}

.Browser-contentView--grid .Browser-contentFile {
    float: left;
    padding: 10px;
}

.Browser-contentView--grid .Browser-contentFileLink {
    display: block;
    width: 200px;
    height: 200px;

    border: solid 1px #E4E4E4;
    text-align: center;
}

.Browser-contentView--grid .Browser-contentFilePreview {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 150px;
}

.Browser-contentView--grid .Browser-fileIcon {
    width: 150px;
    height: 150px;
    font-size: 150px;
    line-height: 1;
}

.Browser-contentView--grid .Browser-contentFileName {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 5px;

    background-color: #FFF;
}

/**
 * Pagination
 */
.Browser-contentPaginate {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 50px;

    line-height: 50px;
    text-align: center;
    background-color: #FFF;
    border-top: solid 1px #E4E4E4;
}