.tify_control_quicktags_editor-wrapper > .quicktags-toolbar{
	padding:5px;
	background-color:#F4F4F4;
	border: solid 1px #CCC;
	border-bottom:none;
}
.tify_control_quicktags_editor-wrapper > .quicktags-toolbar > button{
	border: solid 1px #CCC;
	border-radius:2px;
	margin-left:5px;
}
.tify_control_quicktags_editor-wrapper > .quicktags-toolbar > button:first-child{
	margin-left:0;
}
.tify_control_quicktags_editor-wrapper > .tify_control_quicktags_editor{
	width:100%;	
	box-shadow: none;
	background-color:#FFF;
	border: solid 1px #CCC;
	padding:0.5em;
}
.tify_control_quicktags_editor-wrapper > textarea.tify_control_quicktags_editor{
	height:150px;
	resize:none;
}