/* @todo
.tiFy-scaleUp {
  transform: scale3d(1, 1, 1);
}

.tiFy-scaleUp.tiFy-isAnimated,
.tiFy-scaleUp.tiFy-animate--hover:hover,
.tiFy-animate--hover:hover .tiFy-scaleUp.tiFy-animate--hoverTarget,
.tiFy-animate--hover:hover + .tiFy-scaleUp.tiFy-animate--hoverTarget,
.tiFy-animate--hover:hover ~ .tiFy-scaleUp.tiFy-animate--hoverTarget {
  transform: scale3d(1.2, 1.2, 1.2);
}

.tiFy-scaleDown {
  transform: scale3d(1, 1, 1);
}

.tiFy-scaleDown.tiFy-isAnimated,
.tiFy-scaleDown.tiFy-animate--hover:hover,
.tiFy-animate--hover:hover .tiFy-scaleDown.tiFy-animate--hoverTarget,
.tiFy-animate--hover:hover + .tiFy-scaleDown.tiFy-animate--hoverTarget,
.tiFy-animate--hover:hover ~ .tiFy-scaleDown.tiFy-animate--hoverTarget {
  transform: scale3d(0.8, 0.8, 0.8);
}*/