.dataTables_paginate {
  text-align: right;
  margin: 6px 0 4px;
  padding-top: 5px;
}

.paginate_button {
  display: inline-block;
  vertical-align: baseline;
  min-width: 30px;
  min-height: 30px;
  margin: 0 2px;
  padding: 0 4px;
  font-size: 12px;
  line-height: 2.4;
  text-align: center;
  color: #0071a1;
  border-color: #0071a1;
  background: #f3f5f6;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;

  &.disabled {
    color: #a0a5aa !important;
    border-color: #ddd !important;
    background: #f7f7f7 !important;
    box-shadow: none !important;
    text-shadow: 0 1px 0 #fff !important;
    cursor: default;
    transform: none !important;
  }

  &.first,
  &.last,
  &.next,
  &.previous {
    position: relative;
    text-indent: -999999em;
    font-size: 16px;
    line-height: 1.625;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-indent: 0;
      display: block;
    }
  }
  // @see https://css-tricks.com/snippets/html/glyphs/
  &.last::after {
    content: "\00bb";
  }

  &.first::after {
    content: "\00ab";
  }

  &.next::after {
    content: "\203A";
  }

  &.previous::after {
    content: "\2039";
  }
}