@import "variables";

@keyframes themeFadeOut {
  0% {
    height: initial;
    max-height: initial;
  }
  99% {
    height: initial;
    max-height: initial;
    opacity: 0;
  }
  100% {
    max-height: 0;
    height: 0;
    opacity: 0;
  }
}