@import "variables";

a, button, input[type="button"], input[type="submit"] {
  &[class*=" ThemeButton--"],
  &[class^="ThemeButton--"] {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
  }
}

// Taille
.ThemeButton--small {
  padding: 5px 10px;
}

.ThemeButton--normal {
  padding: 10px 15px;
}

.ThemeButton--large {
  padding: 15px 20px;
}

.ThemeButton--primary {
  background-color: map-get($colors, "white");
  border-radius: 2px;
  border: solid 1px #CCC;
  color: #555;
  cursor: pointer;
  box-shadow: 0 1px 0 #CCC;
}

.ThemeButton--primary:hover {
  border: solid 1px #AAA;
  color: #333;
}

.ThemeButton--primary:disabled {
  border: solid 1px #E4E4E4;
  color: #B4B4B4;
}

.ThemeButton--secondary {
  background-color: #F4F4F4;
  border-radius: 2px;
  border: solid 1px #CCC;
  color: #555;
  cursor: pointer;
  box-shadow: 0 1px 0 #CCC;
}

.ThemeButton--secondary:hover {
  border: solid 1px #AAA;
  color: #333;
}

.ThemeButton--secondary:disabled {
  border: solid 1px #E4E4E4;
  color: #B4B4B4;
}

// Bouton > Fermeture
.ThemeButton--close {
  & {
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 1;
    text-indent: -999999em;
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &::before, &::after {
    position: absolute;
    left: 50%;
    content: ' ';
    height: 100%;
    width: 2px;
    background-color: #333;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.ThemeButton--remove {
  & {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    display: block;
    border-color: transparent #F4F4F4 transparent transparent;
    border-style: solid;
    border-width: 0 35px 35px 0;
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    border-color: transparent #E4E4E4 transparent transparent;
    transform: scale(1.05) perspective(1px);
  }

  &::before {
    position: absolute;
    z-index: 15;
    right: -36px;
    top: 1px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    content: "\f335";
    font: normal 20px/1 Dashicons;
    color: #0074A2;
    transition: transform 0.2s ease-in-out;
  }

  &:hover::before {
    transform: rotate(90deg) perspective(1px);
  }
}