.tify_color_palette_taboox > ul{
	width:350px;
}
.tify_color_palette_taboox > ul > li{
	position:relative;
	display:block;
	min-height :40px;
	border:solid 1px #E4E4E4;
	padding:5px;
	background-color:#F9F9F9;
}
.tify_color_palette_taboox > ul > li > .tify_colorpicker{
	position:absolute;
	right:20px;
}

.tify_color_palette_taboox > ul > li > .tify_colorpicker > .sp-replacer{
	padding:0;
	border:none;
	background:transparent;
}
.tify_color_palette_taboox > ul > li > .tify_colorpicker > .sp-replacer > .sp-dd{
	display:none;
}
.tify_color_palette_taboox > ul > li > .tify_colorpicker > .sp-replacer > .sp-preview{
	border:none;
	height:40px;
	width:40px;
}
.tify_color_palette_taboox > ul > li > .title{
	position:absolute;
	left:20px; right:70px;
}
.tify_color_palette_taboox > ul > li > .title >input[type="text"]{
	width:100%;
}
.tify_color_palette_taboox > ul > li > a.handle{
	position:absolute;
	left:0; top:50%;
	font-size:16px;
	margin-top:-8px;
	cursor:grab;
}
.tify_color_palette_taboox > ul > li.ui-sortable-helper > a.handle{
	cursor:grabbing;
}
.tify_color_palette_taboox > ul > li > a.delete{
	position:absolute;
	right:3px; top:50%;
	font-size:24px;
	margin-top:-12px;
}
.tify_color_palette_taboox .ui-sortable-placeholder{ 
	border:dashed 3px #E4E4E4;
	min-height :40px;
	background:#F4F4F4;
}