.tiFyPartial-Notice {
    position: relative;
    background-color: #FFF;
}

.tiFyPartial-Notice--success {
    border-left: solid 3px #46B450;
}

.tiFyPartial-Notice--info {
    border-left: solid 3px #00A0D2;
}

.tiFyPartial-Notice--warning {
    border-left: solid 3px #FFB900;
}

.tiFyPartial-Notice--error {
    border-left: solid 3px #DC3232;
}

.tiFyPartial-Notice > div {
    padding: 10px;
    margin-bottom: 20px;
}

.tiFyPartial-Notice > [aria-dismiss="tiFyPartial-Notice"] {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    z-index: 1;

    font-size: 24px;
    line-height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}