@CHARSET "UTF-8";
#ConfigConvertor #textInputs,
#ConfigConvertor #langSelectors{
	margin-left:-10px; margin-right:-10px;
}
#ConfigConvertor #textInputs > div,
#ConfigConvertor #langSelectors > li{
	padding-left:10px; padding-right:10px;
}
#ConfigConvertor textarea{
	width:100%;
	height:30em;
	resize:none;
}
