@import "../variables";
@import "../functions";

// Définition des variables
/** COULEURS */
$form-color-white: tify_theme_color("white") !default;
$form-color-black: tify_theme_color("black") !default;
$form-color-regular: tify_theme_color("regular") !default;
$form-color-primary: tify_theme_color("primary") !default;
$form-color-secondary: tify_theme_color("secondary") !default;
$form-color-dark: tify_theme_color("dark") !default;
$form-color-darker: tify_theme_color("darker") !default;
$form-color-light: tify_theme_color("light") !default;
$form-color-lighter: tify_theme_color("lighter") !default;
$form-color-error: tify_theme_color("error") !default;
$form-color-warning: tify_theme_color("warning") !default;
$form-color-info: tify_theme_color("info") !default;
$form-color-success: tify_theme_color("success") !default;
/**/

/** STRUCTURE */
$form-gutter: 15 !default;
/**/

/** NOTICES */
/**
 * @todo @import "../../../partial/notice/scss/variables";
 */
$form-notice-color: tify_theme_color("regular") !default;
$form-notice-border-radius: 0 !default;
$form-notice-border-radius-tl: $form-notice-border-radius !default;
$form-notice-border-radius-tr: $form-notice-border-radius !default;
$form-notice-border-radius-br: $form-notice-border-radius !default;
$form-notice-border-radius-bl: $form-notice-border-radius !default;
$form-notice-border-style: solid !default;
$form-notice-border-style-top: none !default;
$form-notice-border-style-right: none !default;
$form-notice-border-style-bottom: none !default;
$form-notice-border-style-left: $form-notice-border-style !default;
$form-notice-border-width: 3 !default;
$form-notice-border-width-top: $form-notice-border-width !default;
$form-notice-border-width-right: $form-notice-border-width !default;
$form-notice-border-width-bottom: $form-notice-border-width !default;
$form-notice-border-width-left: $form-notice-border-width !default;
$form-notice-background-color: $form-color-white !default;
$form-notice-error-background-color: $form-notice-background-color !default;
$form-notice-info-background-color: $form-notice-background-color !default;
$form-notice-success-background-color: $form-notice-background-color !default;
$form-notice-warning-background-color: $form-notice-background-color !default;
$form-notice-error-border-color: $form-color-error !default;
$form-notice-info-border-color: $form-color-info !default;
$form-notice-success-border-color: $form-color-success !default;
$form-notice-warning-border-color: $form-color-warning !default;
/**/

/** CHAMPS */
$form-field-background-color: $form-color-lighter !default;
$form-field-border-color: $form-color-light !default;
$form-field-border-radius: 5 !default;
$form-field-border-radius-tl: $form-field-border-radius !default;
$form-field-border-radius-tr: $form-field-border-radius !default;
$form-field-border-radius-br: $form-field-border-radius !default;
$form-field-border-radius-bl: $form-field-border-radius !default;
$form-field-border-style: solid !default;
$form-field-border-style-top: $form-field-border-style !default;
$form-field-border-style-right: $form-field-border-style !default;
$form-field-border-style-bottom: $form-field-border-style !default;
$form-field-border-style-left: $form-field-border-style !default;
$form-field-border-width: 1 !default;
$form-field-border-width-top: $form-field-border-width !default;
$form-field-border-width-right: $form-field-border-width !default;
$form-field-border-width-bottom: $form-field-border-width !default;
$form-field-border-width-left: $form-field-border-width !default;
$form-field-error-border-width: $form-notice-border-width !default;

$form-color-required: $form-color-error !default;

/**/

// COMMUN
$form-field-light-hue: tify_theme_color("light") !default;
$form-field-lighter-hue: tify_theme_color("lighter") !default;
$form-field-dark-hue: tify_theme_color("dark") !default;
$form-field-darker-hue: tify_theme_color("darker") !default;
$form-field-regular-hue: tify_theme_color("regular") !default;
$form-field-background-hue: tify_theme_color("white") !default;

// RADIO
$form-field-radio-background-color: $form-color-regular !default;

// CHECKBOX
$form-field-checkbox-background-color: $form-color-regular !default;

// Personnalisation
/** Dimensions des champs */
.Form-field--w50 {
  float: left;
  width: 50%;
}

.Form-field--w66 {
  float: left;
  width: 66.666666%;
}

.Form-field--w33 {
  float: left;
  width: 33.333333%;
}

@media (max-width: 767px) {
  .Form-field--w50,
  .Form-field--w66,
  .Form-field--w33 {
    float: none;
    width: 100%;
  }
}
/**/

// -- Champs
.Form-fields {
  margin: 0 -#{$form-gutter/2}px;

  &::before,
  &::after {
    display: table;
    content: " ";
  }

  &::after {
    clear: both;
  }
}

.Form-fieldsGroup {
  &::before,
  &::after {
    display: table;
    content: " ";
  }

  &::after {
    clear: both;
  }
}

.Form-content {
  margin-bottom: 30px;
}

.Form-field {
  padding: 0 #{$form-gutter/2}px;
  margin-bottom: #{$form-gutter}px;
}

/** Apparence */
.Form {
  // -- Notices
  .Notice {
    color: $form-notice-color;
    padding: 0.625em 1em;
    margin-bottom: 2em;

    &.Notice--error,
    &.Notice--success,
    &.Notice--info,
    &.Notice--warning {
      border-style: $form-notice-border-style-top $form-notice-border-style-right $form-notice-border-style-bottom $form-notice-border-style-left;
      border-radius: #{$form-notice-border-radius-tl}px #{$form-notice-border-radius-tr}px #{$form-notice-border-radius-br}px #{$form-notice-border-radius-bl}px;
      border-width: #{$form-notice-border-width-top}px #{$form-notice-border-width-right}px #{$form-notice-border-width-bottom}px #{$form-notice-border-width-left}px;
    }

    &.Notice--error {
      background-color: $form-notice-error-background-color;
      border-color: $form-notice-error-border-color;
    }

    &.Notice--success {
      background-color: $form-notice-success-background-color;
      border-color: $form-notice-success-border-color;
    }

    &.Notice--info {
      background-color: $form-notice-info-background-color;
      border-color: $form-notice-info-border-color;
    }

    &.Notice--warning {
      background-color: $form-notice-info-background-color;
      border-color: $form-notice-warning-border-color;
    }

    a {
      text-decoration: underline;

      &,
      &:active,
      &:focus,
      &:hover,
      &:visited {
        color: $form-color-primary;
      }
    }

    b, strong {
      font-weight: bold;
    }

    i, em {
      font-style: italic;
    }

    .Notice-items {
      list-style-type: none;
      margin-bottom: 0;
      padding: 0;
    }
  }

  // -- Type de Champs
  .FieldLabel {
    font-size: 0.9em;
    margin-bottom: 0;
  }

  .FieldRequired {
    color: $form-color-required;
  }

  .FieldDatepicker,
  .FieldEmail,
  .FieldPassword,
  .FieldSelect,
  .FieldSelectJs,
  .FieldTel,
  .FieldText,
  .FieldTextarea {
    background-color: $form-field-background-color;
    border-color: $form-field-border-color;
    border-style: $form-field-border-style-top $form-field-border-style-right $form-field-border-style-bottom $form-field-border-style-left;
    border-radius: #{$form-field-border-radius-tl}px #{$form-field-border-radius-tr}px #{$form-field-border-radius-br}px #{$form-field-border-radius-bl}px;
    border-width: #{$form-field-border-width-top}px #{$form-field-border-width-right}px #{$form-field-border-width-bottom}px #{$form-field-border-width-left}px;
    padding: 0.5em 1em;
    width: 100%;

    &[aria-error="true"] {
      border-radius: 0 #{$form-field-border-radius-tr}px #{$form-field-border-radius-br}px 0;
      border-left-style: solid;
      border-left-width: #{$form-field-error-border-width}px;
      border-left-color: $form-color-error;
    }
  }

  .FieldSelect-wrapper {
    .FieldSelect-trigger {
      border-left: none;
      background-color: transparent;
    }
  }

  .FieldSelectJs[aria-arrow="true"] {
    .FieldSelectJs-trigger::before {
      border-left: none;
      background-color: transparent;
    }
  }

  .FieldTextarea {
    height: 8em;
    resize: none;
  }

  .FieldFile {
    width: 100%;
    padding: 0;
    background-color: transparent;

    &::-webkit-file-upload-button {
      border-style: solid;
      border-width: 1px;
      border-color: $form-color-primary;
      padding: 0.5em 2em;
      background-color: $form-color-white;
      color: $form-color-primary;
      margin-right: 5px;
      cursor: pointer;

      &:hover {
        background-color: $form-color-primary;
        color: $form-color-white;
      }
    }

    &[aria-error="true"] {
      padding-left: 1em;
      border-left-style: solid;
      border-left-width: #{$form-field-error-border-width}px;
      border-left-color: $form-color-error;
    }
  }

  .FieldCheckbox,
  .FieldRadio,
  .FieldRadioCollection-itemInput,
  .FieldCheckboxCollection-itemInput {
    display: none;
    cursor: pointer;

    + .FieldLabel,
    + .FieldRadioCollection-itemLabel,
    + .FieldCheckboxCollection-itemLabel {
      position: relative;
      display: inline-block;
      width: auto;
      cursor: pointer;
      padding: 3px 0 0 22px;
      line-height: 1.2;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        content: " ";
        vertical-align: middle;
        margin-top: -7px;
        height: 14px;
        width: 14px;
        margin-right: 5px;
        border: 1px solid $form-color-regular;
        background-color: $form-color-white;
      }

      &::after {
        position: absolute;
        top: 50%;
        display: block;
        content: " ";
        left: 3px;
        margin-top: -4px;
        height: 8px;
        width: 8px;
        transform: scale(0);
        transition: transform 200ms ease-in-out;
      }
    }

    &[aria-error="true"] + .FieldLabel::before {
      border: 1px solid $form-color-error;
    }

    &:checked {
      + .FieldLabel::after,
      + .FieldRadioCollection-itemLabel::after,
      + .FieldCheckboxCollection-itemLabel::after {
        transform: scale(1);
        transition: transform 200ms ease-in-out;
      }
    }

    &:disabled {
      + .FieldLabel,
      + .FieldRadioCollection-itemLabel,
      + .FieldCheckboxCollection-itemLabel {
        opacity: 0.5;

        &::before {
          opacity: 0.5;
        }
      }
    }
  }

  .FieldCheckbox,
  .FieldCheckboxCollection-itemInput {
    + .FieldLabel,
    + .FieldCheckboxCollection-itemLabel {
      &::after {
        background-color: $form-field-checkbox-background-color;
      }
    }
  }

  .FieldRadio,
  .FieldRadioCollection-itemInput {
    + .FieldLabel,
    + .FieldRadioCollection-itemLabel {
      &::after {
        background-color: $form-field-radio-background-color;
      }
    }
  }

  .FieldRadioCollection[aria-error="true"],
  .FieldCheckboxCollection[aria-error="true"] {
    .FieldRadioCollection-itemInput + .FieldRadioCollection-itemLabel::before,
    .FieldCheckboxCollection-itemInput + .FieldCheckboxCollection-itemLabel::before {
      border: 1px solid $form-color-error;
    }
  }

  .FieldRadio,
  .FieldRadioCollection-itemInput {
    + .FieldLabel,
    + .FieldRadioCollection-itemLabel {
      &::before {
        border-radius: 50%;
      }

      &::after {
        border-radius: 50%;
      }
    }
  }

  .FieldRecaptcha {
    &[aria-error=true] {
      border-left: solid 3px $form-color-error;
    }
  }
}