// Variables
@import "variables";

// Personnalisation
/** Dimensions des champs */
.FormField--w50 {
  float: left;
  width: 50%;
}

.FormField--w66 {
  float: left;
  width: 66.666666%;
}

.FormField--w33 {
  float: left;
  width: 33.333333%;
}

@media (max-width: 767px) {
  .FormField--w50,
  .FormField--w66,
  .FormField--w33 {
    float: none;
    width: 100%;
  }
}
/**/

// -- Champs
.FormFields {
  margin: 0 -#{$form-gutter/2}px;

  &::before,
  &::after {
    display: table;
    content: " ";
  }

  &::after {
    clear: both;
  }
}

.FormFieldsGroup {
  &::before,
  &::after {
    display: table;
    content: " ";
  }

  &::after {
    clear: both;
  }
}

.FormContent {
  margin-bottom: 30px;
}

.FormField {
  padding: 0 #{$form-gutter/2}px;
  margin-bottom: #{$form-gutter}px;
}

/** Apparence */
.Form {
  // -- Notices
  .Notice {
    color: $form-notice-color;
    padding: 0.625em 1em;
    margin-bottom: 2em;

    &.Notice--error,
    &.Notice--success,
    &.Notice--info,
    &.Notice--warning {
      border-style: $form-notice-border-style-top $form-notice-border-style-right $form-notice-border-style-bottom $form-notice-border-style-left;
      border-radius: #{$form-notice-border-radius-tl}px #{$form-notice-border-radius-tr}px #{$form-notice-border-radius-br}px #{$form-notice-border-radius-bl}px;
      border-width: #{$form-notice-border-width-top}px #{$form-notice-border-width-right}px #{$form-notice-border-width-bottom}px #{$form-notice-border-width-left}px;
    }

    &.Notice--error {
      background-color: $form-notice-error-background-color;
      border-color: $form-notice-error-border-color;
    }

    &.Notice--success {
      background-color: $form-notice-success-background-color;
      border-color: $form-notice-success-border-color;
    }

    &.Notice--info {
      background-color: $form-notice-info-background-color;
      border-color: $form-notice-info-border-color;
    }

    &.Notice--warning {
      background-color: $form-notice-info-background-color;
      border-color: $form-notice-warning-border-color;
    }

    a {
      text-decoration: underline;

      &,
      &:active,
      &:focus,
      &:hover,
      &:visited {
        color: formColor(link);
      }
    }

    b, strong {
      font-weight: bold;
    }

    i, em {
      font-style: italic;
    }

    .Notice-items {
      list-style-type: none;
      margin-bottom: 0;
      padding: 0;
    }
  }

  // -- Type de Champs
  .FieldLabel {
    font-size: 0.9em;
    margin-bottom: 0;
    color: $form-label-color;
  }

  .FieldRequired {
    color: $form-required-color;
  }

  .FieldDatepicker,
  .FieldEmail,
  .FieldPassword,
  .FieldSelect,
  .FieldSelectJs,
  .FieldTel,
  .FieldText,
  .FieldTextarea {
    background-color: $form-field-background-color;
    border-color: $form-field-border-color;
    border-style: $form-field-border-style-top $form-field-border-style-right $form-field-border-style-bottom $form-field-border-style-left;
    border-radius: #{$form-field-border-radius-tl}px #{$form-field-border-radius-tr}px #{$form-field-border-radius-br}px #{$form-field-border-radius-bl}px;
    border-width: #{$form-field-border-width-top}px #{$form-field-border-width-right}px #{$form-field-border-width-bottom}px #{$form-field-border-width-left}px;
    padding: 0.5em 1em;
    width: 100%;

    &[aria-error="true"] {
      border-radius: 0 #{$form-field-border-radius-tr}px #{$form-field-border-radius-br}px 0;
      border-left-style: solid;
      border-left-width: #{$form-field-error-border-width}px;
      border-left-color: $form-notice-error-color;
    }
  }

  .FieldDatepicker,
  .FieldEmail,
  .FieldPassword,
  .FieldTel,
  .FieldText,
  .FieldTextarea {
    &::placeholder {
      color:$form-field-placeholder-color;
    }
  }

  .FieldSelect-wrapper {
    .FieldSelect-trigger {
      border-left: none;
      background-color: transparent;
    }
  }

  .FieldSelectJs[aria-arrow="true"] {
    .FieldSelectJs-trigger::before {
      border-left: none;
      background-color: transparent;
    }
  }

  .FieldTextarea {
    height: 8em;
    resize: none;
  }

  .FieldFile {
    width: 100%;
    padding: 0;
    background-color: transparent;

    &::-webkit-file-upload-button {
      border-style: solid;
      border-width: 1px;
      border-color: $form-field-border-color;
      padding: 0.5em 2em;
      background-color: $form-field-background-color;
      color: $form-field-color;
      margin-right: 5px;
      cursor: pointer;

      &:hover {
        background-color: $form-field-color;
        color: $form-field-background-color;
      }
    }

    &[aria-error="true"] {
      padding-left: 1em;
      border-left-style: solid;
      border-left-width: #{$form-field-error-border-width}px;
      border-left-color: $form-notice-error-border-color;
    }
  }

  .FieldCheckbox,
  .FieldCheckboxCollection-itemInput,
  .FieldRadio,
  .FieldRadioCollection-itemInput {
    display: none;
    cursor: pointer;

    + .FieldLabel,
    + .FieldRadioCollection-itemLabel,
    + .FieldCheckboxCollection-itemLabel {
      position: relative;
      display: inline-block;
      width: auto;
      cursor: pointer;
      padding: 3px 0 0 22px;
      line-height: 1.2;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        content: " ";
        vertical-align: middle;
        margin-top: -7px;
        height: 14px;
        width: 14px;
        margin-right: 5px;
      }

      &::after {
        position: absolute;
        top: 50%;
        display: block;
        content: " ";
        left: 3px;
        margin-top: -4px;
        height: 8px;
        width: 8px;
        transform: scale(0);
        transition: transform 200ms ease-in-out;
      }
    }

    &[aria-error="true"] + .FieldLabel::before {
      border: 1px solid $form-notice-error-border-color;
    }

    &:checked {
      + .FieldLabel::after,
      + .FieldRadioCollection-itemLabel::after,
      + .FieldCheckboxCollection-itemLabel::after {
        transform: scale(1);
        transition: transform 200ms ease-in-out;
      }
    }

    &:disabled {
      + .FieldLabel,
      + .FieldRadioCollection-itemLabel,
      + .FieldCheckboxCollection-itemLabel {
        opacity: 0.5;

        &::before {
          opacity: 0.5;
        }
      }
    }
  }

  .FieldCheckbox,
  .FieldCheckboxCollection-itemInput {
    + .FieldLabel,
    + .FieldCheckboxCollection-itemLabel {
      &::after {
        background-color: $form-field-checkbox-checked-color;
      }
    }
  }

  .FieldRadio,
  .FieldRadioCollection-itemInput {
    + .FieldLabel,
    + .FieldRadioCollection-itemLabel {
      &::after {
        background-color: $form-field-radio-checked-color;
      }
    }
  }

  .FieldRadioCollection[aria-error="true"],
  .FieldCheckboxCollection[aria-error="true"] {
    .FieldRadioCollection-itemInput + .FieldRadioCollection-itemLabel::before,
    .FieldCheckboxCollection-itemInput + .FieldCheckboxCollection-itemLabel::before {
      border: 1px solid $form-notice-error-border-color;
    }
  }

  .FieldRadio,
  .FieldRadioCollection-itemInput {
    + .FieldLabel,
    + .FieldRadioCollection-itemLabel {
      &::before {
        border-radius: 50%;
      }

      &::after {
        border-radius: 50%;
      }
    }
  }

  .FieldCheckbox,
  .FieldCheckboxCollection-itemInput {
    + .FieldLabel,
    + .FieldCheckboxCollection-itemLabel {
      &::before {
        border: 1px solid $form-field-checkbox-color;
        background-color: $form-field-checkbox-background-color;
      }
    }
  }


  .FieldRadio,
  .FieldRadioCollection-itemInput {
    + .FieldLabel,
    + .FieldRadioCollection-itemLabel {
      &::before {
        border: 1px solid $form-field-radio-color;
        background-color: $form-field-radio-background-color;
      }
    }
  }

  .FieldRecaptcha {
    &[aria-error=true] {
      border-left: solid 3px $form-notice-error-border-color;
    }
  }
}