.tiFyPagination-ItemPage{
	display:block;	
    position: relative;
    padding: 6px 12px;
    text-align:center;
    background-color:#CCC;
    border-color:#CCC;
    color:#FFF;
}
.tiFyPagination-ItemPage--link{	
	color:#333;
}
.tiFyPagination-Item--active .tiFyPagination-ItemPage{
    background-color:#999;
    border-color:#999;
    color:#FFF;
}
.tiFyPagination-ItemPage--link:hover,
.tiFyPagination-ItemPage--link:focus{
    background-color:#999;
    border-color:#999;
    color:#FFF;
}