/* = LISTE TOTEM = */
.tiFyTaboox-TotemList,
.tiFyTaboox-TotemList > *{
	box-sizing:border-box;
}
.tiFyTaboox-TotemList::before,
.tiFyTaboox-TotemList::after{
	display:table;
	content:"";
}
.tiFyTaboox-TotemList::after{
	clear:both;
}
.tiFyTaboox-TotemList{
	margin-left:-10px; margin-right:-10px; 
}
.tiFyTaboox-TotemListItem{	
	float:left;
	width:25%;
	padding-right:10px; padding-left:10px;
	overflow:hidden;
}
.tiFyTaboox-TotemListItem:nth-child(4n+1){
	clear:both;
}
.tiFyTaboox-TotemListItemWrapper{
	position:relative;
	border:solid 1px #DDD;
	background-color:#F4F4F4;
	height:280px; padding:10px;
}
.tiFyTaboox-TotemListItemWrapperThumbnail{	
	max-width:100%; max-height:150px;
	min-width:150px; min-height:150px;
	height:auto;
	display:block;
	margin:0 auto 10px;
	background-color:#CCC; 	
	border:solid 1px #DDD;
	object-fit:cover;
}
.tiFyTaboox-TotemListItemWrapperTitle{
	text-transform:uppercase;
	margin:5px 0 10px;
	text-align:center;
	line-height:1.2em;
	font-size:14px;
	height:2.4em;
}
.tiFyTaboox-TotemList--sortable .tiFyTaboox-TotemListItem{
	cursor:move;
}
.tiFyTaboox-TotemListItem--sortablePlaceholder{
	float:left;
	width:25%; display:block;
	background-color:#F4F4F4;
	border:dashed 2px #CCC;
}
.tiFyTaboox-TotemListItem--sortablePlaceholder{
	height:300px;
	margin-left:10px; margin-right:10px; 	
}


/* = DEPRECATED = */
.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}
.nav > li > a {
  display: block;
  text-decoration: none;
  outline: none;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li > a > img {
  max-width: none;
}
.nav > .pull-right {
  float: right;
}
.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.nav li + .nav-header {
  margin-top: 9px;
}
.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > li > a {
  padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px;
}
.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.nav-tabs,
.nav-pills {
  *zoom: 1;
}
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}
.nav-tabs > li,
.nav-pills > li {
  float: left;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li > a {
  margin-right: 0;
}
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.nav-tabs.nav-stacked > li > a:hover {
  z-index: 2;
  border-color: #ddd;
}
.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}
.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
}
.nav .dropdown-toggle:hover .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}
.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px;
}
.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.nav > .dropdown.active > a:hover {
  cursor: pointer;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}
.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.tabs-stacked .open > a:hover {
  border-color: #999999;
}
.tabbable {
  *zoom: 1;
}
.tabbable:before,
.tabbable:after {
  display: table;
  line-height: 0;
  content: "";
}
.tabbable:after {
  clear: both;
}
.tab-content {
  overflow: auto;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
  border-color: transparent #ddd #ddd #ddd;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left > .nav-tabs {
  float: left;
  border-right: 1px solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a:hover {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
.nav > .disabled > a {
  color: #999999;
}
.nav > .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}

#post-body #normal-sortables{
	min-height:5px;
}
.taboox-container .tab-content > .node-content{
	overflow:hidden;
}
#poststuff .taboox-container .tab-content > .node-content > h3,
.taboox-container .tab-content > .node-content > h3,
.taboox-container .tab-content > .node-content .section_title{
	display:block;
	font-size:16px !important;
	padding:8px 0 5px !important;
	border-bottom:solid 1px #E4E4E4;
	margin:10px 0 !important;
	color: #0074a2;
	font-weight:400;
}
.taboox-container .tab-content > .node-content input[type="text"]{
	box-shadow:none;
}

/* = TITRE DE LA POSTBOX = */
.taboox-container{
	margin-bottom:30px;
}
.taboox-container h3.hndle{
	display:block;	
	margin-left:5px; 
	border-bottom-color: #DFDFDF;
    background-color:#FFF;
    border-color: #DFDFDF;
    border-style: solid;
    border-width: 1px;
	font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 8px 12px;
}
/* = PERSONNALISATION DES ONGLETS = */
.taboox-container .tabs-left > .nav-tabs > li, 
.taboox-container .tabs-right > .nav-tabs > li {
    float: none;
    position: relative;
    z-index: 5;
}
.taboox-container > .wrapper{
	border-style: none solid solid;
    border-width: 0 1px 1px;
    display: block;
    position: relative;
	background-color:#F9F9F9;
    border-color: #DFDFDF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.taboox-container > .wrapper > .back{
	position: absolute;
	top: 0; right:0; bottom: 0; left: 146px;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-right-width: 0;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background: #fff;
	margin-top:40px;
	border-color: #DDD;
}
.taboox-container > .wrapper > .wrap{
	margin-top:0; margin-right:0; margin-left: -4px;	
	padding: 0;
	position: relative;
	overflow: auto;
}
.taboox-container > .wrapper > .wrap > .tabs-left > .nav-tabs{
	margin-top:39px;
	margin-right:0;
	width:150px;
}
.taboox-container > .wrapper > .wrap > .tabs-left > .tab-content{
	position: relative;
	left: -2px;  	  
}
.taboox-container > .wrapper > .wrap > .tabs-left > .tab-content > .tab-pane > .tab-content{
	position:relative;
	background-color:#FFF;
	border-left:1px #DDD solid;
	z-index:0;
	margin-left: 1px;
	padding:10px 10px 30px;
}
.taboox-container > .wrapper > .wrap > .tabs-left > .tab-content > .tab-pane > .tabs-top > .nav-tabs{
	margin:0; margin-left:1px;
}
.taboox-container > .wrapper > .wrap > .tabs-left > .tab-content > .tab-pane > .tabs-top > .tab-content{
	position:relative;
	background-color:#FFF;
	border-left:1px #DDD solid;
	z-index:0;
	margin-left: 1px;
	padding:10px 10px 30px;
}

/**
 * @TODO
 */
.taboox-container .ui-sortable-placeholder{ 
	visibility:visible!important;
} 
/** Module de galerie d'images */
/** Images */
.taboox-container .thumb-list{
	margin:0; padding:10px;
	list-style-type: none;
	margin-top:20px;
	margin-left:-10px;
	overflow:hidden;	
}
.taboox-container .thumb-list li{
	position:relative;
	float:left;
	margin:0; padding:0;
	margin-right: 20px;
	margin-bottom: 10px;
	padding:10px 10px 25px;
	border:solid 1px #E4E4E4;
	background-color:#F4F4F4;
	cursor:move;
	text-align:center;
	min-height:150px;
}
.taboox-container .thumb-list li img{
	display:inline-block;
	margin-bottom:5px;
	border:solid 1px #DDD;
}
.taboox-container .thumb-list li h4{
	margin:5px 0;
	height:2.4em;
	overflow:hidden;
	line-height:1.2;
	text-overflow: ellipsis;
}
.taboox-container .thumb-list .ui-sortable-placeholder{ 
	min-width:150px; min-height	:130px;
	border:dashed 3px #E4E4E4;
	background:#F4F4F4;
}
.taboox-container .thumb-list .order{
	position:absolute;
	bottom :-2px; right :-2px;
	font-size:0.8em;
	text-align:center;
	padding:0.1em;
}
.taboox-container .thumb-list .post_status{
	position:absolute;
	bottom:0px; left:10px;
	font-size:0.9em;
	color:#0074A2;	
}
/** Zone d'ajout de vignette */
.taboox-container .add-thumb-area-150{
	position:relative;
	width:150px; height :150px; 
	border:dashed 3px #E4E4E4; background:#F4F4F4; 

	vertical-align:middle; 
}
.taboox-container .add-thumb-area-150 a.add{
	position:absolute;
	display:block;
	color:#666;
	margin:0;
	padding:70px 0;
	left:0; right:0;
	text-align: center;
	font-size:14px;
	line-height:1em;
}
.taboox-container .add-thumb-area-150 img{
	position:absolute;
	top:0; left:0;
	width:150px; height:150px;
	z-index:2; 
}
.taboox-container .add-thumb-area-150 a.remove{
	position:absolute;
	top:5px; right:5px;
	z-index:3;
	display:none; 
}
.taboox-container .add-thumb-area-150:hover a.remove{
	display:block;
}
#submitdiv{
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    min-width: 255px;
    position: relative;
    line-height: 1;
    margin-bottom: 20px;
    padding: 0;
}
#submitdiv h3{
	font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 8px 12px;
	border-bottom: 1px solid #eee;
}
#submitdiv .submit{
    clear: both;
    padding: 10px;
	margin:0;
}