[data-tify_control='checkbox']{
	position:relative;
	display:inline-block;
}
[data-tify_control='checkbox'] > label{
	display:block;
	margin-bottom:0;
	line-height:1;
	cursor: pointer;
	font-weight:400;
}
[data-tify_control='checkbox'] ul{
	font-size:0;
	list-style:none;
}
[data-tify_control='checkbox'] ul > li{
	display:inline-block;
	font-size:2rem;
	margin:0; padding:0;
	vertical-align:top;
}
[data-tify_control='checkbox'] ul > li.tify_checkbox{
	position:relative;
	display:inline-block;
	border:1px solid #000;
	width:14px;
	height:14px;
}
[data-tify_control='checkbox'] ul > li.tify_checkbox:after{
	position:absolute;
	display:none;
	content: "\f147";
	top:0;
	right:0;
	bottom:0;
	left:0;
	font:25px/1 dashicons;
	color:#27AE60;
	text-align:center;
	margin-top:-5px;
	margin-left:-7px;
}
[data-tify_control='checkbox'].checked ul > li.tify_checkbox:after{
	display:inline-block;
}
[data-tify_control='checkbox'] ul > li > input{
	display:none;
}
[data-tify_control='checkbox'] ul > li.tify_label > span{
	display:block;
	padding:0 0.4em;
	margin:0;
	font-size:14px;
	color:#000;
}

