.tiFyField-DatetimeJs * {
    vertical-align: middle;
}

input.tiFyField-DatetimeJsField,
select.tiFyField-DatetimeJsField {
    width: 3.6em;
    line-height: 100%;
    height: 2em;
    margin: 0;
    font-size: 14px;
    box-shadow: none;
}

input.tiFyField-DatetimeJsField--year,
select.tiFyField-DatetimeJsField--month {
    width: 5em;
}

.tiFyField-DatetimeJs.invalid .tiFyField-DatetimeJsField {
    border-color: red;
}