.Form-title {
  margin:1em 0;
  border-bottom: solid 1px #E4E4E4;
  padding-bottom:0.5em;
}

.Form-table {
  border-collapse: collapse;
  margin: .5em 0 1em;
  width: 100%;
  clear: both;

  &,
  td,
  td p,
  th {
    font-size:14px;
  }

  th {
    vertical-align: top;
    text-align: left;
    padding: 10px 10px 10px 0;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
  }

  td {
    margin-bottom: 9px;
    padding: 10px;
    line-height: 1.3;
    vertical-align: middle;
  }
}