.tiFyField-SelectImage {
    display: inline-block;
    overflow: hidden;
    width: 121px;
    height: auto;
}

.tiFyField-SelectImage .FieldSelectJs-selectionItem {
    margin:0;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tiFyField-SelectImage .FieldSelectJs-selectionItem > img {
    position: absolute;
    top: 50%;
    max-width: 100px;
    max-height: 100px;
    height: auto;
    width: 100%;
    transform: translateY(-50%);
}