.tify_taboox_taxonomy_select,
.tify_taboox_taxonomy_select::before,
.tify_taboox_taxonomy_select::after,
.tify_taboox_taxonomy_select *,
.tify_taboox_taxonomy_select *::before,
.tify_taboox_taxonomy_select *::after{
	-webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
.tify_taboox_taxonomy_select > ul::before,
.tify_taboox_taxonomy_select > ul::after{
	display:table;
	content:"";
}
.tify_taboox_taxonomy_select > ul::after{
	clear:both;
}
.tify_taboox_taxonomy_select > ul{
	display:block;
	margin:0; padding:0;
	list-style-type:none;
	margin-left:-10px; margin-right:-10px;
}
.tify_taboox_taxonomy_select > ul > li{
	float:left;	
	padding-left:10px; padding-right:10px;
	margin-bottom:5px;
}
.tify_taboox_taxonomy_select > ul ul{
    margin-left: 18px;
}

/* = LISTES = */
.list-1-item-by-row,
.list-2-items-by-row,
.list-3-items-by-row,
.list-4-items-by-row{
	margin:0; padding:0;
    list-style-type: none;	
}
.list-1-item-by-row::before,
.list-1-item-by-row::after,
.list-2-items-by-row::before,
.list-2-items-by-row::after,
.list-3-items-by-row::before,
.list-3-items-by-row::after,
.list-4-items-by-row::before,
.list-4-items-by-row::after{
  display: table;
  content: "";
}
.list-1-item-by-row::after,
.list-2-items-by-row::after,
.list-3-items-by-row::after,
.list-4-items-by-row::after{
  clear: both;
}
.list-1-items-by-row > li,
.list-2-items-by-row > li,
.list-3-items-by-row > li,
.list-4-items-by-row > li{
	margin:0; padding:0;
	float:left;
}
/** == 1 élément par ligne == **/
.list-1-items-by-row > li{
    width:100%;
    float:none;  
}	
/** == 2 éléments par ligne == **/
.list-2-items-by-row > li{
    width:50%;    
}
.list-2-items-by-row > li:nth-child(2n+1){
	clear:left;
}	
/** == 3 éléments par ligne == **/
.list-3-items-by-row > li{
    width:33.333333%;
}
.list-3-items-by-row > li:nth-child(3n+1){
    clear:left;
}
/** == 4 éléments par ligne == **/
.list-4-items-by-row > li{
    width:25%;
}
.list-4-items-by-row > li:nth-child(4n+1){
    clear:left;
}
/** == 5 éléments par ligne == **/
.list-5-items-by-row > li{
    width:20%;
}
.list-5-items-by-row > li:nth-child(5n+1){
    clear:left;
}
/** == 6 éléments par ligne == **/
.list-6-items-by-row > li{
    width:width:16.666666%;
}
.list-6-items-by-row > li:nth-child(6n+1){
    clear:left;
}