// Variables
@import "~presstify-framework/field/variables";

// Dépendances
@import '~jquery-ui/themes/base/core.css';
@import '~jquery-ui/themes/base/theme.css';
@import '~jquery-ui/themes/base/button.css';
@import '~jquery-ui/themes/base/spinner.css';

// Personnalisation
.FieldNumberJs {
  & {
    position: relative;
    display: inline-block;
  }

  & .ui-widget.ui-widget-content {
    border: none;
    background-color: transparent;
  }

  & .ui-button,
  & .ui-button:hover {
    cursor: pointer;
    border: none;
    color: #7F8C8D;
    background-color: transparent;
  }
}

.FieldNumberJs-input {
  font-size: 14px;
  width: 50px;
  height: 30px;
  color: #7F8C8D;
  text-align: center;
  line-height: 1;
  padding: 0.5em;
  border: 1px solid #7F8C8D;
  border-radius: 0;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}