.videos_gallery-postbox .videos_gallery-add{
	float:left;
	vertical-align:middle;
	margin-right:5px;
}
.videos_gallery-postbox .spinner{
	float:left;
}
.videos_gallery-list > li{
	position:relative;
	padding-right:30px;
	padding-bottom:15px;
	margin-bottom:10px;
	border-bottom:solid 1px #DDD;
}
.videos_gallery-list > li:before,
.videos_gallery-list > li:after{
	display:table;
	content:"";
}
.videos_gallery-list > li:after{
	clear:both;
}
.videos_gallery-list > li > .videos_gallery-remove{
	position:absolute;
	width:30px; height:30px;
	top:0; right:0;
	color:#FF0000;
	font-size:24px;
}
.videos_gallery-list > li > .videos_gallery-remove:hover{
	color: #FF4D4D;
}
.videos_gallery-list > li > .poster{
	position:relative;
	text-align:center;
	background-color:#F4F4F4; 
	border:dashed 3px #DDD;	
	width:150px; height:150px; 
	float:left;
}
.videos_gallery-list > li > .poster .videos_gallery-poster-add{
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	z-index:5;
	font-size:14px; 
	color:#666;
	font-weight:900;
	text-decoration:none;
	line-height:150px;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	background-repeat:no-repeat; 
	background-position:center;
}
.videos_gallery-list > li > .src{
	position:relative;
	margin-left:170px;
}
.videos_gallery-list > li > .src textarea{
	width:100%;
	resize:none;
	height:156px;
	padding-bottom:26px;
	box-shadow:none;
}
.videos_gallery-list > li > .src .videos_gallery-media-add{
	position:absolute;
	display:inline-block;
	left:-5px; bottom:-5px;
	padding:3px;
	font-size:24px;
	background-color:#F4F4F4;
	width:auto; height:auto;
	border:solid 1px #DDD;
	color:#666;
}
.videos_gallery-list > li > .src .videos_gallery-media-add:hover{
	color:#3E3E3E;
	background-color:#E4E4E4;
	border-color:#AAA;
}
