/* = SELECTEUR HTML = */
[data-tify_control='dropdown_menu']{
	position:relative;
	display:inline-block;
	background-color:#FFF;
	border-color:#E4E4E4;
	border-style:solid;
	border-width:1px;
	box-sizing:border-box;
}
[data-tify_control='dropdown_menu']::before{
	position:absolute;
	content:"";	
	top:0; right:0; bottom:0;
	display:block;
	width:16px;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#E4E4E4;
	background-color:#F4F4F4;
}
[data-tify_control='dropdown_menu']::after{
	position:absolute;
	content:"";
	right:4px;top:50%;	
	margin-top:-2px;
	border-color:#333 transparent;
	border-style:solid;
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 0;
	border-left-width: 4px; 
    display: inline-block;
    height: 0; width: 0;
    z-index:1;   
}
[data-tify_control='dropdown_menu'].active::after{
	border-top-width: 0;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
}
[data-tify_control='dropdown_menu'].disabled{
	opacity:0.5;
}
[data-tify_control='dropdown_menu'] > .selected{
	position:relative;
	padding:0.4em;
	cursor:pointer;	
	padding-right:20px;
	display:block;
	overflow:hidden;
	text-overflow: ellipsis;
	z-index:1;
}

/* = LISTE DEROULANTE = */
[data-tify_control='dropdown_menu-picker']{
	position:absolute;
	display:none;
	overflow:auto;
	z-index:99;
	background-color:#FFF;
	margin:0;
	border-width:1px;
	border-style:solid;
	border-color:#E4E4E4;
}
[data-tify_control='dropdown_menu-picker'].active{
	display:inherit;	
}
[data-tify_control='dropdown_menu-picker'] > ul{
	margin:0; padding:0;
}
[data-tify_control='dropdown_menu-picker'] > ul > li > a{
	margin:0; padding:0.1em 0.4em;
	display:block;
	cursor:pointer;
}
[data-tify_control='dropdown_menu-picker'] > ul > li > a:hover{
	background-color:#F4F4F4;	
}