.ui-autocomplete{
	max-height:250px;
	overflow-y:auto;
}
.ui-autocomplete li{
	position:relative;
	border-bottom:solid 1px #DDD;
}
#poststuff .mkpbx-container .thumb-list li .post_title{
	
}
#poststuff .mkpbx-container .thumb-list li .post_type{
	display:block;
	color:#999;
	line-height:1.1;
	height:2.2em;
	overflow:hidden;
	text-overflow: ellipsis;
	margin-bottom:5px;
}
#poststuff .mkpbx-container .thumb-list li .post_status{
	position:absolute;
	left:10px; bottom:15px;
	font-weight:600;
}